In [1]:
import pandas as pd
from database_fxn import (default_params, load_api_key, 
                          make_request, build_database
                         )
from pymongo import MongoClient
import time
import yaml
import requests

ModuleNotFoundError: No module named 'database_fxn'

In [3]:
we_eat_client = MongoClient()

In [4]:
we_eat_database = we_eat_client['we_eat']
restaurant_collection = we_eat_database['restaurants']

In [5]:
def add_to_database_if_new(row):
    if restaurant_collection.count_documents({'id': row['id']}) == 0:
        restaurant_collection.insert_one(row)

In [6]:
def retrieve_database():
    """Return the contents of MongoDB as a dataframe."""
    return pd.DataFrame(list(restaurant_collection.find({})))

In [8]:
build_database()

1
51
101
151
201
251
301
351
401
451
501
551
601
651
701
751
801
851
901
951
No businesses returned

In [9]:
mile_from_galvanize = retrieve_database()

In [11]:
mile_from_galvanize.shape

(1389, 17)

In [12]:
mile_from_galvanize.head()

,_id,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url
0,5bf5e06f91d56f59f158cfa4,amazon-go-seattle-5,"[{'alias': 'convenience', 'title': 'Convenienc...","{'latitude': 47.60638, 'longitude': -122.33122}",,493.410866,XDfmz7Woxx6NkZDGBtAVAQ,https://s3-media1.fl.yelpcdn.com/bphoto/fDQhxw...,False,"{'address1': '920 5th Ave', 'address2': None, ...",Amazon Go,,NaN,5.0,7,[],https://www.yelp.com/biz/amazon-go-seattle-5?a...
1,5bf5e06f91d56f59f158cfa5,the-pink-door-seattle-4,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 47.61028, 'longitude': -122.3425}",(206) 443-3241,1327.897033,VOPdG8llLPaga9iJxXcMuQ,https://s3-media1.fl.yelpcdn.com/bphoto/c_vzRF...,False,"{'address1': '1919 Post Alley', 'address2': ''...",The Pink Door,+12064433241,$$,4.5,4019,[],https://www.yelp.com/biz/the-pink-door-seattle...
2,5bf5e06f91d56f59f158cfa6,nirmals-seattle,"[{'alias': 'indpak', 'title': 'Indian'}]","{'latitude': 47.60147, 'longitude': -122.33262}",(206) 683-9701,228.364627,GXz21OgpWOtnCF0GDXHPhA,https://s3-media3.fl.yelpcdn.com/bphoto/LVSEXb...,False,"{'address1': '106 Occidental Ave S', 'address2...",Nirmal's,+12066839701,$$,4.0,424,"[restaurant_reservation, pickup]",https://www.yelp.com/biz/nirmals-seattle?adjus...
3,5bf5e06f91d56f59f158cfa7,bad-bishop-seattle,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...","{'latitude': 47.60286, 'longitude': -122.33427}",(206) 623-3440,344.167932,KFMsgY5mV_wCYsa0XX_hEQ,https://s3-media1.fl.yelpcdn.com/bphoto/1GpjX0...,False,"{'address1': '704 1st Ave', 'address2': None, ...",Bad Bishop,+12066233440,NaN,4.5,6,[],https://www.yelp.com/biz/bad-bishop-seattle?ad...
4,5bf5e06f91d56f59f158cfa8,pike-place-chowder-seattle,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 47.60939, 'longitude': -122.34112}",(206) 267-2537,1176.460907,6I28wDuMBR5WLMqfKxaoeg,https://s3-media3.fl.yelpcdn.com/bphoto/ijju-w...,False,"{'address1': '1530 Post Aly', 'address2': 'Ste...",Pike Place Chowder,+12062672537,$$,4.5,6317,[pickup],https://www.yelp.com/biz/pike-place-chowder-se...

In [21]:
def clean_cats(categories):
    """Change list of categories into a string."""
    return ','.join(cat['alias'] for cat in categories)

In [22]:
mile_from_galvanize['cats'] = mile_from_galvanize['categories'].apply(clean_cats)

In [29]:
cats = mile_from_galvanize['categories']

In [33]:
cats.values()['alias']

TypeError: 'numpy.ndarray' object is not callable