In [94]:
from build_database import (default_params, load_api_key, make_request,
                            build_database, add_to_database_if_new, retrieve_database,
                           )

from clean_database import (clean_cats, separate_coords, change_price_nulls,
                           dummify_price, drop_unnecessaries)

from pymongo import MongoClient
import pandas as pd
from PIL import Image
import urllib.request, io

from IPython.display import Image, display
from IPython.core.display import HTML 

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# client = MongoClient()
we_eat_client = MongoClient()

# create Mongo database and collection
we_eat_db = we_eat_client['we_eat']
restaurant_collection = we_eat_db['restaurants']

In [15]:
rest_db = build_database()
mile_from_galvanize = retrieve_database()

1
51
101
151
201
251
301
351
401
451
501
551
601
651
701
751
801
851
901
951
No businesses returned

In [8]:
mile_from_galvanize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393 entries, 0 to 1392
Data columns (total 17 columns):
_id              1393 non-null object
alias            1393 non-null object
categories       1393 non-null object
coordinates      1393 non-null object
display_phone    1393 non-null object
distance         1393 non-null float64
id               1393 non-null object
image_url        1393 non-null object
is_closed        1393 non-null bool
location         1393 non-null object
name             1393 non-null object
phone            1393 non-null object
price            1234 non-null object
rating           1393 non-null float64
review_count     1393 non-null int64
transactions     1393 non-null object
url              1393 non-null object
dtypes: bool(1), float64(2), int64(1), object(13)
memory usage: 175.6+ KB

In [21]:
mile_from_galvanize['cats'] = mile_from_galvanize['categories'].apply(clean_cats)

In [17]:
mile_from_galvanize['lats'], mile_from_galvanize['longs'] = separate_coords(mile_from_galvanize)

In [18]:
change_price_nulls(mile_from_galvanize)

In [34]:
dummify_price(mile_from_galvanize)

In [473]:
mile_from_galvanize.head()

,_id,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,...,review_count,transactions,url,lats,longs,cats,$,$$,$$$,$$$$
0,5bf5e06f91d56f59f158cfa4,amazon-go-seattle-5,"[{'alias': 'convenience', 'title': 'Convenienc...","{'latitude': 47.60638, 'longitude': -122.33122}",,493.410866,XDfmz7Woxx6NkZDGBtAVAQ,https://s3-media1.fl.yelpcdn.com/bphoto/fDQhxw...,False,"{'address1': '920 5th Ave', 'address2': None, ...",...,7,[],https://www.yelp.com/biz/amazon-go-seattle-5?a...,47.60638,-122.33122,"convenience,salad,sandwiches",0,1,0,0
1,5bf5e06f91d56f59f158cfa5,the-pink-door-seattle-4,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 47.61028, 'longitude': -122.3425}",(206) 443-3241,1327.897033,VOPdG8llLPaga9iJxXcMuQ,https://s3-media1.fl.yelpcdn.com/bphoto/c_vzRF...,False,"{'address1': '1919 Post Alley', 'address2': ''...",...,4019,[],https://www.yelp.com/biz/the-pink-door-seattle...,47.61028,-122.34250,"italian,wine_bars,seafood",0,1,0,0
2,5bf5e06f91d56f59f158cfa6,nirmals-seattle,"[{'alias': 'indpak', 'title': 'Indian'}]","{'latitude': 47.60147, 'longitude': -122.33262}",(206) 683-9701,228.364627,GXz21OgpWOtnCF0GDXHPhA,https://s3-media3.fl.yelpcdn.com/bphoto/LVSEXb...,False,"{'address1': '106 Occidental Ave S', 'address2...",...,424,"[restaurant_reservation, pickup]",https://www.yelp.com/biz/nirmals-seattle?adjus...,47.60147,-122.33262,indpak,0,1,0,0
3,5bf5e06f91d56f59f158cfa7,bad-bishop-seattle,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...","{'latitude': 47.60286, 'longitude': -122.33427}",(206) 623-3440,344.167932,KFMsgY5mV_wCYsa0XX_hEQ,https://s3-media1.fl.yelpcdn.com/bphoto/1GpjX0...,False,"{'address1': '704 1st Ave', 'address2': None, ...",...,6,[],https://www.yelp.com/biz/bad-bishop-seattle?ad...,47.60286,-122.33427,"cocktailbars,comfortfood",0,1,0,0
4,5bf5e06f91d56f59f158cfa8,pike-place-chowder-seattle,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 47.60939, 'longitude': -122.34112}",(206) 267-2537,1176.460907,6I28wDuMBR5WLMqfKxaoeg,https://s3-media3.fl.yelpcdn.com/bphoto/ijju-w...,False,"{'address1': '1530 Post Aly', 'address2': 'Ste...",...,6317,[pickup],https://www.yelp.com/biz/pike-place-chowder-se...,47.60939,-122.34112,"seafood,soup",0,1,0,0

In [36]:
mile_from_galvanize_copy = drop_unnecessaries(mile_from_galvanize)

/Users/gnishimura/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [43]:
mile_from_galvanize_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1392 entries, 0 to 1392
Data columns (total 16 columns):
alias           1392 non-null object
distance        1392 non-null float64
id              1392 non-null object
image_url       1392 non-null object
location        1392 non-null object
rating          1392 non-null float64
review_count    1392 non-null int64
transactions    1392 non-null object
url             1392 non-null object
lats            1392 non-null float64
longs           1392 non-null float64
cats            1392 non-null object
$               1392 non-null int64
$$              1392 non-null int64
$$$             1392 non-null int64
$$$$            1392 non-null int64
dtypes: float64(4), int64(5), object(7)
memory usage: 224.9+ KB

In [80]:
URL = mile_from_galvanize_copy['image_url'][10]
Image(url=URL, width=100, height=100)

In [98]:
for row in mile_from_galvanize_copy['image_url'][:10]:
    display(Image(url=row, width=100, height=100))

In [103]:
mile_from_galvanize_copy['cats'][0].split(',')

['convenience', 'salad', 'sandwiches']

In [117]:
from collections import Counter


def cat_counts(categories):
    cat_dict = Counter()
    for row in categories:
        temp = row.split(',')
        for cat in temp:
            cat_dict[cat] += 1
    return cat_dict

In [119]:
cat_counts = cat_counts(mile_from_galvanize_copy['cats'])

In [120]:
cat_counts.most_common()

[('sandwiches', 187),
 ('newamerican', 142),
 ('breakfast_brunch', 140),
 ('bars', 109),
 ('seafood', 101),
 ('cafes', 98),
 ('tradamerican', 95),
 ('cocktailbars', 81),
 ('mexican', 72),
 ('hotdogs', 70),
 ('pizza', 69),
 ('salad', 66),
 ('coffee', 66),
 ('japanese', 62),
 ('foodtrucks', 62),
 ('italian', 61),
 ('delis', 60),
 ('noodles', 57),
 ('vietnamese', 56),
 ('asianfusion', 51),
 ('burgers', 50),
 ('sushi', 49),
 ('bakeries', 49),
 ('chinese', 48),
 ('thai', 46),
 ('korean', 44),
 ('foodstands', 40),
 ('mediterranean', 39),
 ('bbq', 37),
 ('tapasmallplates', 32),
 ('desserts', 29),
 ('wine_bars', 27),
 ('soup', 24),
 ('hotdog', 24),
 ('indpak', 23),
 ('hawaiian', 22),
 ('cantonese', 21),
 ('pubs', 21),
 ('steak', 20),
 ('poke', 19),
 ('french', 19),
 ('sportsbars', 18),
 ('dimsum', 17),
 ('lounges', 16),
 ('vegetarian', 16),
 ('juicebars', 15),
 ('vegan', 15),
 ('beerbar', 15),
 ('venues', 14),
 ('tacos', 14),
 ('diners', 14),
 ('chicken_wings', 13),
 ('chickenshop', 13),
 ('ethiopian', 13),
 ('catering', 13),
 ('buffets', 12),
 ('fishnchips', 12),
 ('gluten_free', 12),
 ('greek', 12),
 ('taiwanese', 12),
 ('ramen', 12),
 ('mideastern', 12),
 ('southern', 11),
 ('hotpot', 11),
 ('comfortfood', 10),
 ('gastropubs', 10),
 ('german', 10),
 ('izakaya', 10),
 ('tapas', 10),
 ('raw_food', 9),
 ('grocery', 9),
 ('halal', 9),
 ('spanish', 9),
 ('streetvendors', 9),
 ('latin', 8),
 ('turkish', 8),
 ('wraps', 8),
 ('caribbean', 8),
 ('cakeshop', 8),
 ('convenience', 7),
 ('hkcafe', 7),
 ('russian', 7),
 ('waffles', 7),
 ('szechuan', 7),
 ('breweries', 7),
 ('bagels', 7),
 ('beer_and_wine', 7),
 ('divebars', 7),
 ('meats', 6),
 ('food_court', 6),
 ('modern_european', 6),
 ('restaurants', 6),
 ('cheesesteaks', 5),
 ('irish_pubs', 5),
 ('filipino', 5),
 ('musicvenues', 5),
 ('donuts', 5),
 ('british', 5),
 ('icecream', 5),
 ('creperies', 5),
 ('tex-mex', 5),
 ('shanghainese', 4),
 ('lebanese', 4),
 ('cajun', 4),
 ('soulfood', 4),
 ('peruvian', 4),
 ('brewpubs', 4),
 ('persian', 3),
 ('argentine', 3),
 ('laotian', 3),
 ('cuban', 3),
 ('falafel', 3),
 ('panasian', 3),
 ('beergardens', 3),
 ('himalayan', 3),
 ('speakeasies', 3),
 ('empanadas', 3),
 ('newmexican', 3),
 ('moroccan', 3),
 ('pastashops', 3),
 ('cafeteria', 3),
 ('irish', 3),
 ('gourmet', 3),
 ('popuprestaurants', 3),
 ('gaybars', 3),
 ('malaysian', 2),
 ('teppanyaki', 2),
 ('bike_repair_maintenance', 2),
 ('basque', 2),
 ('polish', 2),
 ('bubbletea', 2),
 ('bikes', 2),
 ('australian', 2),
 ('themedcafes', 2),
 ('japacurry', 2),
 ('pakistani', 2),
 ('seafoodmarkets', 2),
 ('karaoke', 2),
 ('importedfood', 2),
 ('dinnertheater', 2),
 ('kebab', 2),
 ('healthmarkets', 2),
 ('danceclubs', 2),
 ('theater', 2),
 ('candy', 2),
 ('venezuelan', 2),
 ('trinidadian', 2),
 ('gelato', 2),
 ('african', 2),
 ('scandinavian', 2),
 ('florists', 1),
 ('dominican', 1),
 ('sports_clubs', 1),
 ('syrian', 1),
 ('observatories', 1),
 ('butcher', 1),
 ('mongolian', 1),
 ('cheese', 1),
 ('brazilian', 1),
 ('ukrainian', 1),
 ('artmuseums', 1),
 ('portuguese', 1),
 ('tea', 1),
 ('brasseries', 1),
 ('vinyl_records', 1),
 ('sicilian', 1),
 ('cabaret', 1),
 ('smokehouse', 1),
 ('culturalcenter', 1),
 ('acaibowls', 1),
 ('cideries', 1),
 ('macarons', 1),
 ('interiordesign', 1),
 ('scottish', 1),
 ('whiskeybars', 1),
 ('shopping', 1),
 ('propertymgmt', 1),
 ('coffeeroasteries', 1),
 ('outlet_stores', 1),
 ('healthtrainers', 1),
 ('indonesian', 1),
 ('winetasteclasses', 1),
 ('supperclubs', 1),
 ('galleries', 1),
 ('giftshops', 1),
 ('jazzandblues', 1),
 ('movietheaters', 1),
 ('conveyorsushi', 1),
 ('catalan', 1),
 ('southafrican', 1),
 ('hair', 1),
 ('communitycenters', 1),
 ('tuscan', 1),
 ('senegalese', 1),
 ('bookstores', 1),
 ('egyptian', 1),
 ('comedyclubs', 1),
 ('flowers', 1)]

In [122]:
mile_from_galvanize_copy[mile_from_galvanize_copy['cats']=='japanese']

,alias,distance,id,image_url,location,rating,review_count,transactions,url,lats,longs,cats,$,$$,$$$,$$$$
124,waz-seattle,2202.835120,E5rQ6F0Te5X6wahbmZYG-A,https://s3-media2.fl.yelpcdn.com/bphoto/JcD1R3...,"{'address1': '411 Cedar St', 'address2': '', '...",4.5,38,[],https://www.yelp.com/biz/waz-seattle?adjust_cr...,47.617950,-122.347410,japanese,0,0,0,1
413,yoshino-teriyaki-seattle,831.388238,1IMivcKgsN8xUL5dFKQK3w,https://s3-media2.fl.yelpcdn.com/bphoto/xIpZHN...,"{'address1': '1010 Madison St', 'address2': ''...",3.5,98,[],https://www.yelp.com/biz/yoshino-teriyaki-seat...,47.609120,-122.325980,japanese,1,0,0,0
430,moons-kitchen-seattle,1734.622633,V-9omrfHu047xTxGQdZjaA,https://s3-media4.fl.yelpcdn.com/bphoto/YbqJid...,"{'address1': '2211 4th Ave', 'address2': None,...",4.0,122,"[pickup, delivery]",https://www.yelp.com/biz/moons-kitchen-seattle...,47.614710,-122.343240,japanese,0,1,0,0
517,toshios-teriyaki-seattle,2393.798333,O0aWEb3FURE4tp_wTptl7A,https://s3-media3.fl.yelpcdn.com/bphoto/cvtCSq...,"{'address1': '1706 Rainier Ave S', 'address2':...",3.5,235,[],https://www.yelp.com/biz/toshios-teriyaki-seat...,47.588197,-122.305400,japanese,1,0,0,0
632,teriyaki-madness-seattle-2,2261.085847,D7WJbzrceBpp0Qryuj6R3g,https://s3-media4.fl.yelpcdn.com/bphoto/osE0dp...,"{'address1': '111 15th Ave E', 'address2': '',...",3.5,97,[],https://www.yelp.com/biz/teriyaki-madness-seat...,47.618870,-122.312870,japanese,1,0,0,0
937,happy-teriyaki-seattle-2,402.160617,pkvL5-UFixhWiEm8xdMJrA,https://s3-media1.fl.yelpcdn.com/bphoto/r9OjYw...,"{'address1': '823 3rd Ave', 'address2': 'Ste 1...",2.5,44,"[pickup, delivery]",https://www.yelp.com/biz/happy-teriyaki-seattl...,47.604591,-122.333366,japanese,1,0,0,0
1284,seattles-best-teriyaki-seattle-2,2097.202439,CBP2EQvP6RrPqYaUJG5bkw,https://s3-media2.fl.yelpcdn.com/bphoto/fRkKum...,"{'address1': '2445 4th Ave S', 'address2': '',...",3.5,61,[pickup],https://www.yelp.com/biz/seattles-best-teriyak...,47.580480,-122.329560,japanese,1,0,0,0

In [193]:
mile_from_galvanize_copy['cats'].head()

0    convenience,salad,sandwiches
1       italian,wine_bars,seafood
2                          indpak
3        cocktailbars,comfortfood
4                    seafood,soup
Name: cats, dtype: object

In [128]:
mile_from_galvanize_copy.columns

Index(['alias', 'distance', 'id', 'image_url', 'location', 'rating',
       'review_count', 'transactions', 'url', 'lats', 'longs', 'cats', '$',
       '$$', '$$$', '$$$$'],
      dtype='object')

In [185]:
def dummy_cats(df, unique_cats):
    dummy_df = pd.DataFrame(columns=unique_cats, index=df['id'])
    for restaurant in df['cats']:
        temp = row.split(',')
        for category in temp:
            dummy_df[category]
    return dummy_df

In [197]:
unique_cats = list(cat_counts.keys())

In [199]:
cats_series = pd.Series(unique_cats)

In [202]:
cats_series.to_csv('categories.csv', index=False)

In [211]:
categories_col = mile_from_galvanize_copy['cats']

In [397]:
#categories_col.str.split(',')

In [223]:
def load_categories():
    with open('categories.csv') as f:
        categories = [cat.strip() for cat in f.readlines()]
    return categories

categories = load_categories()

def get_category_dummies(categories_col, categories=categories):
    """Return a DataFrame of dummy columns for the categories specified."""
    cat_list_col = categories_col.str.split(',')
    df = pd.DataFrame(index=categories_col.index)
    for cat in categories:
        df['category_' + cat] = cat_list_col.apply(lambda cats: cat in cats).astype(int)
    
    return df

In [339]:
def prune_rare_cats(df):
    new_df = df.copy()
    categories = []
    [categories.append(item) for item in list(df.columns) if 'category_' in item]       
   
    [new_df.drop(columns=category, inplace=True) for category in categories if df[category].sum() < 5]
    
    return new_df

In [326]:
dummies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1392 entries, 0 to 1392
Columns: 198 entries, category_convenience to category_flowers
dtypes: int64(198)
memory usage: 2.2 MB

In [275]:
dummies_df = get_category_dummies(mile_from_galvanize_copy['cats'])

In [276]:
dummies_df_pruned = prune_rare_cats(dummies_df)

In [277]:
dummies_df_pruned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1392 entries, 0 to 1392
Columns: 101 entries, category_convenience to category_tex-mex
dtypes: int64(101)
memory usage: 1.1 MB

In [264]:
full_restaurant_df = pd.concat([mile_from_galvanize_copy, dummies_df_pruned], axis=1)

In [265]:
full_restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1392 entries, 0 to 1392
Columns: 117 entries, alias to category_tex-mex
dtypes: float64(4), int64(106), object(7)
memory usage: 1.3+ MB

In [399]:
top_ten_cats = ['category_sandwiches',
'category_newamerican',
'category_bars',
'category_pizza',
'category_seafood',
'category_salad',
'category_mexican',
'category_noodles',
'category_cafes',
'category_vegan']

In [400]:
top_ten_df = full_restaurant_df[(full_restaurant_df['category_sandwiches']==1) | 
                   (full_restaurant_df['category_newamerican']==1) |
                   (full_restaurant_df['category_bars']==1) |
                   (full_restaurant_df['category_pizza']==1) |
                   (full_restaurant_df['category_seafood']==1) |
                   (full_restaurant_df['category_salad']==1) |
                   (full_restaurant_df['category_mexican']==1) |
                   (full_restaurant_df['category_noodles']==1) |
                   (full_restaurant_df['category_cafes']==1) |
                   (full_restaurant_df['category_vegan']==1) 
                  ]

In [401]:
top_ten_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 757 entries, 0 to 1392
Columns: 117 entries, alias to category_tex-mex
dtypes: float64(4), int64(106), object(7)
memory usage: 697.9+ KB

In [402]:
top_ten_df_pruned = prune_rare_cats(top_ten_df)

In [395]:
#top_ten_df_pruned.info()

In [345]:
def add_popularity(df):
    """Make a popularity column based on average rating multiplied by number of reviews"""
    df['popularity'] = df['rating'] * df['review_count']

In [403]:
add_popularity(top_ten_df_pruned)

In [396]:
#top_ten_df_pruned.head()

In [438]:
def find_most_popular(df, categories):
    most_popular = []
    for category in categories:
        temp_df = df[df[category]==1]
        most_popular.append(df.loc[temp_df['popularity'].idxmax()]['alias'])
        print(f"{category}:".format(), df.loc[temp_df['popularity'].idxmax()]['alias'])
    
    return most_popular

In [439]:
most_popular = find_most_popular(top_ten_df_pruned, top_ten_cats)

category_sandwiches: paseo-caribbean-food-fremont-seattle-2
category_newamerican: local-360-seattle-2
category_bars: toulouse-petit-kitchen-and-lounge-seattle
category_pizza: serious-pie-seattle
category_seafood: pike-place-chowder-seattle
category_salad: 8oz-burger-and-co-seattle
category_mexican: tacos-chukis-seattle
category_noodles: tamarind-tree-seattle
category_cafes: portage-bay-cafe-roosevelt-seattle
category_vegan: plum-bistro-seattle-2

In [471]:
import numpy as np

def get_top_urls(restaurants_list, df):
    restaurant_aliases = np.array(restaurants_list)
    top_urls = df.loc[df['alias'].isin(restaurant_aliases), 'image_url']
    print(top_urls)
    return top_urls

def display_pics(restaurants_list, df):
    top_urls = get_top_urls(restaurants_list, df)
    for url in top_urls.tolist():
        display(Image(url=url, width=200, height=200))

In [472]:
display_pics(most_popular, top_ten_df_pruned)

4       https://s3-media3.fl.yelpcdn.com/bphoto/ijju-w...
39      https://s3-media1.fl.yelpcdn.com/bphoto/1b10Pu...
107     https://s3-media4.fl.yelpcdn.com/bphoto/gJ1jxd...
111     https://s3-media3.fl.yelpcdn.com/bphoto/K5cPEh...
168     https://s3-media3.fl.yelpcdn.com/bphoto/Lnggdy...
316     https://s3-media2.fl.yelpcdn.com/bphoto/hK8Fe2...
959     https://s3-media1.fl.yelpcdn.com/bphoto/UmEDw1...
961     https://s3-media1.fl.yelpcdn.com/bphoto/AU2LRi...
1015    https://s3-media3.fl.yelpcdn.com/bphoto/o5csrm...
1150    https://s3-media1.fl.yelpcdn.com/bphoto/D1oi0e...
Name: image_url, dtype: object

In [455]:
url = display_pics(most_popular)

In [457]:
url.iloc[0]

'https://s3-media3.fl.yelpcdn.com/bphoto/o5csrmtkMORuMcVBW2dnYg/o.jpg'

In [440]:
for row in mile_from_galvanize_copy['image_url'][:10]:
    display(Image(url=row, width=100, height=100))