In [94]:
from build_database import (default_params, load_api_key, make_request,
                            build_database, add_to_database_if_new, retrieve_database,
                           )

from clean_database import (clean_cats, separate_coords, change_price_nulls,
                           dummify_price, drop_unnecessaries)

from pymongo import MongoClient
import pandas as pd
from PIL import Image
import urllib.request, io

from IPython.display import Image, display
from IPython.core.display import HTML 

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# client = MongoClient()
we_eat_client = MongoClient()

# create Mongo database and collection
we_eat_db = we_eat_client['we_eat']
restaurant_collection = we_eat_db['restaurants']

In [15]:
rest_db = build_database()
mile_from_galvanize = retrieve_database()

1
51
101
151
201
251
301
351
401
451
501
551
601
651
701
751
801
851
901
951
No businesses returned

In [8]:
mile_from_galvanize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393 entries, 0 to 1392
Data columns (total 17 columns):
_id              1393 non-null object
alias            1393 non-null object
categories       1393 non-null object
coordinates      1393 non-null object
display_phone    1393 non-null object
distance         1393 non-null float64
id               1393 non-null object
image_url        1393 non-null object
is_closed        1393 non-null bool
location         1393 non-null object
name             1393 non-null object
phone            1393 non-null object
price            1234 non-null object
rating           1393 non-null float64
review_count     1393 non-null int64
transactions     1393 non-null object
url              1393 non-null object
dtypes: bool(1), float64(2), int64(1), object(13)
memory usage: 175.6+ KB

In [21]:
mile_from_galvanize['cats'] = mile_from_galvanize['categories'].apply(clean_cats)

In [17]:
mile_from_galvanize['lats'], mile_from_galvanize['longs'] = separate_coords(mile_from_galvanize)

In [18]:
change_price_nulls(mile_from_galvanize)

In [34]:
dummify_price(mile_from_galvanize)

In [35]:
mile_from_galvanize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393 entries, 0 to 1392
Data columns (total 24 columns):
_id              1393 non-null object
alias            1393 non-null object
categories       1393 non-null object
coordinates      1393 non-null object
display_phone    1393 non-null object
distance         1393 non-null float64
id               1393 non-null object
image_url        1393 non-null object
is_closed        1393 non-null bool
location         1393 non-null object
name             1393 non-null object
phone            1393 non-null object
price            1393 non-null object
rating           1393 non-null float64
review_count     1393 non-null int64
transactions     1393 non-null object
url              1393 non-null object
lats             1393 non-null float64
longs            1393 non-null float64
cats             1393 non-null object
$                1393 non-null int64
$$               1393 non-null int64
$$$              1393 non-null int64
$$$$             1393 non-null int64
dtypes: bool(1), float64(4), int64(5), object(14)
memory usage: 251.7+ KB

In [36]:
mile_from_galvanize_copy = drop_unnecessaries(mile_from_galvanize)

/Users/gnishimura/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [43]:
mile_from_galvanize_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1392 entries, 0 to 1392
Data columns (total 16 columns):
alias           1392 non-null object
distance        1392 non-null float64
id              1392 non-null object
image_url       1392 non-null object
location        1392 non-null object
rating          1392 non-null float64
review_count    1392 non-null int64
transactions    1392 non-null object
url             1392 non-null object
lats            1392 non-null float64
longs           1392 non-null float64
cats            1392 non-null object
$               1392 non-null int64
$$              1392 non-null int64
$$$             1392 non-null int64
$$$$            1392 non-null int64
dtypes: float64(4), int64(5), object(7)
memory usage: 224.9+ KB

In [80]:
URL = mile_from_galvanize_copy['image_url'][10]
Image(url=URL, width=100, height=100)

In [98]:
for row in mile_from_galvanize_copy['image_url'][:10]:
    display(Image(url=row, width=100, height=100))

In [103]:
mile_from_galvanize_copy['cats'][0].split(',')

['convenience', 'salad', 'sandwiches']

In [117]:
from collections import Counter


def cat_counts(categories):
    cat_dict = Counter()
    for row in categories:
        temp = row.split(',')
        for cat in temp:
            cat_dict[cat] += 1
    return cat_dict

In [119]:
cat_counts = cat_counts(mile_from_galvanize_copy['cats'])

In [120]:
cat_counts.most_common()

[('sandwiches', 187),
 ('newamerican', 142),
 ('breakfast_brunch', 140),
 ('bars', 109),
 ('seafood', 101),
 ('cafes', 98),
 ('tradamerican', 95),
 ('cocktailbars', 81),
 ('mexican', 72),
 ('hotdogs', 70),
 ('pizza', 69),
 ('salad', 66),
 ('coffee', 66),
 ('japanese', 62),
 ('foodtrucks', 62),
 ('italian', 61),
 ('delis', 60),
 ('noodles', 57),
 ('vietnamese', 56),
 ('asianfusion', 51),
 ('burgers', 50),
 ('sushi', 49),
 ('bakeries', 49),
 ('chinese', 48),
 ('thai', 46),
 ('korean', 44),
 ('foodstands', 40),
 ('mediterranean', 39),
 ('bbq', 37),
 ('tapasmallplates', 32),
 ('desserts', 29),
 ('wine_bars', 27),
 ('soup', 24),
 ('hotdog', 24),
 ('indpak', 23),
 ('hawaiian', 22),
 ('cantonese', 21),
 ('pubs', 21),
 ('steak', 20),
 ('poke', 19),
 ('french', 19),
 ('sportsbars', 18),
 ('dimsum', 17),
 ('lounges', 16),
 ('vegetarian', 16),
 ('juicebars', 15),
 ('vegan', 15),
 ('beerbar', 15),
 ('venues', 14),
 ('tacos', 14),
 ('diners', 14),
 ('chicken_wings', 13),
 ('chickenshop', 13),
 ('ethiopian', 13),
 ('catering', 13),
 ('buffets', 12),
 ('fishnchips', 12),
 ('gluten_free', 12),
 ('greek', 12),
 ('taiwanese', 12),
 ('ramen', 12),
 ('mideastern', 12),
 ('southern', 11),
 ('hotpot', 11),
 ('comfortfood', 10),
 ('gastropubs', 10),
 ('german', 10),
 ('izakaya', 10),
 ('tapas', 10),
 ('raw_food', 9),
 ('grocery', 9),
 ('halal', 9),
 ('spanish', 9),
 ('streetvendors', 9),
 ('latin', 8),
 ('turkish', 8),
 ('wraps', 8),
 ('caribbean', 8),
 ('cakeshop', 8),
 ('convenience', 7),
 ('hkcafe', 7),
 ('russian', 7),
 ('waffles', 7),
 ('szechuan', 7),
 ('breweries', 7),
 ('bagels', 7),
 ('beer_and_wine', 7),
 ('divebars', 7),
 ('meats', 6),
 ('food_court', 6),
 ('modern_european', 6),
 ('restaurants', 6),
 ('cheesesteaks', 5),
 ('irish_pubs', 5),
 ('filipino', 5),
 ('musicvenues', 5),
 ('donuts', 5),
 ('british', 5),
 ('icecream', 5),
 ('creperies', 5),
 ('tex-mex', 5),
 ('shanghainese', 4),
 ('lebanese', 4),
 ('cajun', 4),
 ('soulfood', 4),
 ('peruvian', 4),
 ('brewpubs', 4),
 ('persian', 3),
 ('argentine', 3),
 ('laotian', 3),
 ('cuban', 3),
 ('falafel', 3),
 ('panasian', 3),
 ('beergardens', 3),
 ('himalayan', 3),
 ('speakeasies', 3),
 ('empanadas', 3),
 ('newmexican', 3),
 ('moroccan', 3),
 ('pastashops', 3),
 ('cafeteria', 3),
 ('irish', 3),
 ('gourmet', 3),
 ('popuprestaurants', 3),
 ('gaybars', 3),
 ('malaysian', 2),
 ('teppanyaki', 2),
 ('bike_repair_maintenance', 2),
 ('basque', 2),
 ('polish', 2),
 ('bubbletea', 2),
 ('bikes', 2),
 ('australian', 2),
 ('themedcafes', 2),
 ('japacurry', 2),
 ('pakistani', 2),
 ('seafoodmarkets', 2),
 ('karaoke', 2),
 ('importedfood', 2),
 ('dinnertheater', 2),
 ('kebab', 2),
 ('healthmarkets', 2),
 ('danceclubs', 2),
 ('theater', 2),
 ('candy', 2),
 ('venezuelan', 2),
 ('trinidadian', 2),
 ('gelato', 2),
 ('african', 2),
 ('scandinavian', 2),
 ('florists', 1),
 ('dominican', 1),
 ('sports_clubs', 1),
 ('syrian', 1),
 ('observatories', 1),
 ('butcher', 1),
 ('mongolian', 1),
 ('cheese', 1),
 ('brazilian', 1),
 ('ukrainian', 1),
 ('artmuseums', 1),
 ('portuguese', 1),
 ('tea', 1),
 ('brasseries', 1),
 ('vinyl_records', 1),
 ('sicilian', 1),
 ('cabaret', 1),
 ('smokehouse', 1),
 ('culturalcenter', 1),
 ('acaibowls', 1),
 ('cideries', 1),
 ('macarons', 1),
 ('interiordesign', 1),
 ('scottish', 1),
 ('whiskeybars', 1),
 ('shopping', 1),
 ('propertymgmt', 1),
 ('coffeeroasteries', 1),
 ('outlet_stores', 1),
 ('healthtrainers', 1),
 ('indonesian', 1),
 ('winetasteclasses', 1),
 ('supperclubs', 1),
 ('galleries', 1),
 ('giftshops', 1),
 ('jazzandblues', 1),
 ('movietheaters', 1),
 ('conveyorsushi', 1),
 ('catalan', 1),
 ('southafrican', 1),
 ('hair', 1),
 ('communitycenters', 1),
 ('tuscan', 1),
 ('senegalese', 1),
 ('bookstores', 1),
 ('egyptian', 1),
 ('comedyclubs', 1),
 ('flowers', 1)]

In [122]:
mile_from_galvanize_copy[mile_from_galvanize_copy['cats']=='japanese']

,alias,distance,id,image_url,location,rating,review_count,transactions,url,lats,longs,cats,$,$$,$$$,$$$$
124,waz-seattle,2202.835120,E5rQ6F0Te5X6wahbmZYG-A,https://s3-media2.fl.yelpcdn.com/bphoto/JcD1R3...,"{'address1': '411 Cedar St', 'address2': '', '...",4.5,38,[],https://www.yelp.com/biz/waz-seattle?adjust_cr...,47.617950,-122.347410,japanese,0,0,0,1
413,yoshino-teriyaki-seattle,831.388238,1IMivcKgsN8xUL5dFKQK3w,https://s3-media2.fl.yelpcdn.com/bphoto/xIpZHN...,"{'address1': '1010 Madison St', 'address2': ''...",3.5,98,[],https://www.yelp.com/biz/yoshino-teriyaki-seat...,47.609120,-122.325980,japanese,1,0,0,0
430,moons-kitchen-seattle,1734.622633,V-9omrfHu047xTxGQdZjaA,https://s3-media4.fl.yelpcdn.com/bphoto/YbqJid...,"{'address1': '2211 4th Ave', 'address2': None,...",4.0,122,"[pickup, delivery]",https://www.yelp.com/biz/moons-kitchen-seattle...,47.614710,-122.343240,japanese,0,1,0,0
517,toshios-teriyaki-seattle,2393.798333,O0aWEb3FURE4tp_wTptl7A,https://s3-media3.fl.yelpcdn.com/bphoto/cvtCSq...,"{'address1': '1706 Rainier Ave S', 'address2':...",3.5,235,[],https://www.yelp.com/biz/toshios-teriyaki-seat...,47.588197,-122.305400,japanese,1,0,0,0
632,teriyaki-madness-seattle-2,2261.085847,D7WJbzrceBpp0Qryuj6R3g,https://s3-media4.fl.yelpcdn.com/bphoto/osE0dp...,"{'address1': '111 15th Ave E', 'address2': '',...",3.5,97,[],https://www.yelp.com/biz/teriyaki-madness-seat...,47.618870,-122.312870,japanese,1,0,0,0
937,happy-teriyaki-seattle-2,402.160617,pkvL5-UFixhWiEm8xdMJrA,https://s3-media1.fl.yelpcdn.com/bphoto/r9OjYw...,"{'address1': '823 3rd Ave', 'address2': 'Ste 1...",2.5,44,"[pickup, delivery]",https://www.yelp.com/biz/happy-teriyaki-seattl...,47.604591,-122.333366,japanese,1,0,0,0
1284,seattles-best-teriyaki-seattle-2,2097.202439,CBP2EQvP6RrPqYaUJG5bkw,https://s3-media2.fl.yelpcdn.com/bphoto/fRkKum...,"{'address1': '2445 4th Ave S', 'address2': '',...",3.5,61,[pickup],https://www.yelp.com/biz/seattles-best-teriyak...,47.580480,-122.329560,japanese,1,0,0,0

In [123]:
import geopy.distance

ModuleNotFoundError: No module named 'geopy'