In [358]:
import pandas as pd
import numpy as np
from build_database import (default_params, load_api_key, 
                          make_request, build_database,
                          add_to_database_if_new, retrieve_database
                         )
from pymongo import MongoClient
import time
import yaml
import requests

In [33]:
we_eat_client = MongoClient()

In [34]:
we_eat_database = we_eat_client['we_eat']
restaurant_collection = we_eat_database['restaurants']

In [38]:
build_database()

0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950

In [39]:
mile_from_galvanize = retrieve_database()

In [40]:
mile_from_galvanize.shape

(1403, 17)

In [107]:
from clean_database import (add_distance_from_galvanize, change_price_nulls,
                            clean_cats, add_clean_cats, dummify_price,
                            cat_counts, add_lat_longs, separate_coords,
                            load_categories, drop_unnecessaries, 
                            add_popularity, make_cats_csv,
                            get_category_dummies
                           )

In [42]:
add_lat_longs(mile_from_galvanize)

In [43]:
add_distance_from_galvanize(mile_from_galvanize)

In [94]:
galvanize_restaurants_df = mile_from_galvanize[mile_from_galvanize['dist_from_galvanize']<1]

In [95]:
galvanize_restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 658 entries, 0 to 1400
Data columns (total 20 columns):
_id                    658 non-null object
alias                  658 non-null object
categories             658 non-null object
coordinates            658 non-null object
display_phone          658 non-null object
distance               658 non-null float64
id                     658 non-null object
image_url              658 non-null object
is_closed              658 non-null bool
location               658 non-null object
name                   658 non-null object
phone                  658 non-null object
price                  597 non-null object
rating                 658 non-null float64
review_count           658 non-null int64
transactions           658 non-null object
url                    658 non-null object
lats                   658 non-null float64
longs                  658 non-null float64
dist_from_galvanize    658 non-null float64
dtypes: bool(1), float64(5), int64(1), object(13)
memory usage: 103.5+ KB

In [96]:
add_clean_cats(galvanize_restaurants_df)

/Users/gnishimura/galvanize/We_Eat/clean_database.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['cats'] = df['categories'].apply(clean_cats)

In [112]:
cat_counts(galvanize_restaurants_df).most_common()

[('sandwiches', 106),
 ('newamerican', 61),
 ('seafood', 60),
 ('breakfast_brunch', 60),
 ('tradamerican', 53),
 ('cafes', 48),
 ('hotdogs', 46),
 ('delis', 43),
 ('bars', 41),
 ('chinese', 37),
 ('salad', 36),
 ('vietnamese', 34),
 ('japanese', 30),
 ('noodles', 30),
 ('coffee', 29),
 ('bakeries', 28),
 ('mexican', 26),
 ('asianfusion', 26),
 ('foodtrucks', 26),
 ('pizza', 26),
 ('cocktailbars', 25),
 ('sushi', 25),
 ('italian', 24),
 ('burgers', 21),
 ('foodstands', 21),
 ('cantonese', 20),
 ('bbq', 20),
 ('korean', 19),
 ('thai', 18),
 ('dimsum', 15),
 ('soup', 14),
 ('sportsbars', 14),
 ('mediterranean', 13),
 ('hotdog', 12),
 ('indpak', 11),
 ('tapasmallplates', 10),
 ('pubs', 10),
 ('poke', 10),
 ('wine_bars', 9),
 ('grocery', 9),
 ('hotpot', 9),
 ('french', 9),
 ('buffets', 8),
 ('juicebars', 8),
 ('lounges', 8),
 ('venues', 7),
 ('steak', 7),
 ('desserts', 7),
 ('taiwanese', 7),
 ('hawaiian', 7),
 ('diners', 7),
 ('wraps', 6),
 ('russian', 6),
 ('german', 6),
 ('beer_and_wine', 6),
 ('restaurants', 6),
 ('raw_food', 5),
 ('hkcafe', 5),
 ('irish_pubs', 5),
 ('caribbean', 5),
 ('vegan', 5),
 ('beerbar', 5),
 ('food_court', 5),
 ('mideastern', 5),
 ('catering', 5),
 ('convenience', 4),
 ('latin', 4),
 ('fishnchips', 4),
 ('turkish', 4),
 ('gluten_free', 4),
 ('szechuan', 4),
 ('greek', 4),
 ('halal', 4),
 ('bagels', 4),
 ('ethiopian', 4),
 ('icecream', 4),
 ('vegetarian', 4),
 ('comfortfood', 3),
 ('southern', 3),
 ('shanghainese', 3),
 ('gastropubs', 3),
 ('meats', 3),
 ('chicken_wings', 3),
 ('waffles', 3),
 ('cajun', 3),
 ('tacos', 3),
 ('british', 3),
 ('streetvendors', 3),
 ('creperies', 3),
 ('musicvenues', 3),
 ('cheesesteaks', 2),
 ('teppanyaki', 2),
 ('filipino', 2),
 ('breweries', 2),
 ('brewpubs', 2),
 ('spanish', 2),
 ('izakaya', 2),
 ('cakeshop', 2),
 ('panasian', 2),
 ('pastashops', 2),
 ('pakistani', 2),
 ('donuts', 2),
 ('cafeteria', 2),
 ('karaoke', 2),
 ('irish', 2),
 ('importedfood', 2),
 ('dinnertheater', 2),
 ('chickenshop', 2),
 ('healthmarkets', 2),
 ('candy', 2),
 ('florists', 1),
 ('dominican', 1),
 ('lebanese', 1),
 ('soulfood', 1),
 ('sports_clubs', 1),
 ('bike_repair_maintenance', 1),
 ('argentine', 1),
 ('observatories', 1),
 ('laotian', 1),
 ('mongolian', 1),
 ('cheese', 1),
 ('cuban', 1),
 ('ukrainian', 1),
 ('artmuseums', 1),
 ('polish', 1),
 ('portuguese', 1),
 ('bubbletea', 1),
 ('australian', 1),
 ('ramen', 1),
 ('tea', 1),
 ('brasseries', 1),
 ('vinyl_records', 1),
 ('japacurry', 1),
 ('seafoodmarkets', 1),
 ('cabaret', 1),
 ('smokehouse', 1),
 ('macarons', 1),
 ('shopping', 1),
 ('propertymgmt', 1),
 ('persian', 1),
 ('kebab', 1),
 ('falafel', 1),
 ('danceclubs', 1),
 ('winetasteclasses', 1),
 ('supperclubs', 1),
 ('galleries', 1),
 ('popuprestaurants', 1),
 ('himalayan', 1),
 ('giftshops', 1),
 ('trinidadian', 1),
 ('beergardens', 1),
 ('gelato', 1),
 ('comedyclubs', 1),
 ('theater', 1),
 ('flowers', 1),
 ('gourmet', 1)]

In [99]:
make_cats_csv(galvanize_restaurants_df)

In [100]:
categories = load_categories()

In [101]:
dummy_cats_df = get_category_dummies(galvanize_restaurants_df['cats'])

In [102]:
dummified_restaurant_df = pd.concat([galvanize_restaurants_df, dummy_cats_df], axis=1)

In [103]:
add_popularity(dummified_restaurant_df)

In [104]:
change_price_nulls(dummified_restaurant_df)

In [105]:
dummify_price(dummified_restaurant_df)

In [110]:
cleaned_df = drop_unnecessaries(dummified_restaurant_df)

/Users/gnishimura/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [162]:
cleaned_df.T

,0,1,2,3,4,5,6,7,8,9,...,1385,1387,1388,1390,1392,1394,1395,1397,1398,1400
alias,amazon-go-seattle-5,the-pink-door-seattle-4,nirmals-seattle,bad-bishop-seattle,pike-place-chowder-seattle,biscuit-bitch-seattle-5,damn-the-weather-seattle,tsukushinbo-seattle,taylor-shellfish-oyster-bar-seattle-2,elliotts-oyster-house-seattle-2,...,restaurant-specialty-services-seattle,union-deli-la-puget-sound-plaza-building-seattle,measure-seattle,subway-seattle-3,u-bank-cafe-seattle,subway-seattle-31,hamburg-frites-seattle,subway-seattle-66,organic-to-go-seattle-4,chez-dave-seattle-2
id,XDfmz7Woxx6NkZDGBtAVAQ,VOPdG8llLPaga9iJxXcMuQ,GXz21OgpWOtnCF0GDXHPhA,KFMsgY5mV_wCYsa0XX_hEQ,6I28wDuMBR5WLMqfKxaoeg,UzeuW2PwabdLQjrS4E6_kg,UaszJCXczQ-djWsQ0ylVAA,Y-OgQKqreMaajTUCPbLPKg,p1TOF1XkXzLx3a-LF3lDlw,xqH038QcquJEMm5LIZHd5w,...,MMekcUcYCE2etkXQgWMyZw,wZfXb_fHOE-K96dO7qPT4Q,5YBRY42YQ26feHfN3Z3dVA,4sBzUiuQ00jmzSTjsYnryg,ZA7HbUsz0A8WApWUBLPsWA,G3f-6NAVN4eKEik20C3_Ww,67TXs37Mohf5--ROrrj-Cw,RNKwWB4PLvtyv1v1-0c-4A,K3sZchlC3v6ot57IuGhCpQ,ZYywNQw2eZQvZl41SmoJQw
image_url,https://s3-media1.fl.yelpcdn.com/bphoto/fDQhxw...,https://s3-media1.fl.yelpcdn.com/bphoto/c_vzRF...,https://s3-media3.fl.yelpcdn.com/bphoto/LVSEXb...,https://s3-media1.fl.yelpcdn.com/bphoto/1GpjX0...,https://s3-media3.fl.yelpcdn.com/bphoto/ijju-w...,https://s3-media4.fl.yelpcdn.com/bphoto/WUnigN...,https://s3-media1.fl.yelpcdn.com/bphoto/DqP1nz...,https://s3-media3.fl.yelpcdn.com/bphoto/r6mFft...,https://s3-media2.fl.yelpcdn.com/bphoto/he49IR...,https://s3-media3.fl.yelpcdn.com/bphoto/Am6Aab...,...,,https://s3-media2.fl.yelpcdn.com/bphoto/qCRBxr...,,https://s3-media2.fl.yelpcdn.com/bphoto/-blvrJ...,,https://s3-media1.fl.yelpcdn.com/bphoto/MhAvRX...,,https://s3-media3.fl.yelpcdn.com/bphoto/Lzq6Dr...,,
location,"{'address1': '920 5th Ave', 'address2': None, ...","{'address1': '1919 Post Alley', 'address2': ''...","{'address1': '106 Occidental Ave S', 'address2...","{'address1': '704 1st Ave', 'address2': None, ...","{'address1': '1530 Post Aly', 'address2': 'Ste...","{'address1': '621 3rd Ave', 'address2': '', 'a...","{'address1': '116 1st Ave S', 'address2': '', ...","{'address1': '515 S Main St', 'address2': '', ...","{'address1': '410 Occidental Ave S', 'address2...","{'address1': '1201 Alaskan Way', 'address2': '...",...,"{'address1': '500 Union St', 'address2': '', '...","{'address1': '1325 4th Ave', 'address2': 'Ste ...","{'address1': '200 University St', 'address2': ...","{'address1': '1414 3rd Ave', 'address2': '', '...","{'address1': '1420 5th Ave', 'address2': 'Fl 1...","{'address1': '725 Pike St', 'address2': 'Fl 4'...","{'address1': '1250 1st Ave S', 'address2': '',...","{'address1': '1620 4th Ave', 'address2': 'Ste ...","{'address1': '1001 4th Ave', 'address2': 'Ste ...","{'address1': '600 University St', 'address2': ..."
rating,5,4.5,4,4.5,4.5,4.5,4,4,4.5,4,...,4,3,2.5,2,5,2,1,2.5,2.5,2
review_count,7,4019,424,6,6317,764,386,788,525,3047,...,1,5,7,19,1,21,2,3,6,10
transactions,[],[],"[restaurant_reservation, pickup]",[],[pickup],[],[],[],[],[],...,[],[],[],[],[],"[delivery, pickup]",[],[],[],[]
url,https://www.yelp.com/biz/amazon-go-seattle-5?a...,https://www.yelp.com/biz/the-pink-door-seattle...,https://www.yelp.com/biz/nirmals-seattle?adjus...,https://www.yelp.com/biz/bad-bishop-seattle?ad...,https://www.yelp.com/biz/pike-place-chowder-se...,https://www.yelp.com/biz/biscuit-bitch-seattle...,https://www.yelp.com/biz/damn-the-weather-seat...,https://www.yelp.com/biz/tsukushinbo-seattle?a...,https://www.yelp.com/biz/taylor-shellfish-oyst...,https://www.yelp.com/biz/elliotts-oyster-house...,...,https://www.yelp.com/biz/restaurant-specialty-...,https://www.yelp.com/biz/union-deli-la-puget-s...,https://www.yelp.com/biz/measure-seattle?adjus...,https://www.yelp.com/biz/subway-seattle-3?adju...,https://www.yelp.com/biz/u-bank-cafe-seattle?a...,https://www.yelp.com/biz/subway-seattle-31?adj...,https://www.yelp.com/biz/hamburg-frites-seattl...,https://www.yelp.com/biz/subway-seattle-66?adj...,https://www.yelp.com/biz/organic-to-go-seattle...,https://www.yelp.com/biz/chez-dave-seattle-2?a...
dist_from_galvanize,0.523317,0.877225,0.178899,0.266417,0.79345,0.302976,0.145659,0.333392,0.0554015,0.555342,...,0.758806,0.672375,0.604062,0.725322,0.781498,0.842754,0.528435,0.871023,0.49709,0.739662
cats,"convenience,salad,sandwiches","italian,wine_bars,seafood",indpak,"cocktailbars,comfortfood","seafood,soup","southern,breakfast_brunch,coffee","cocktailbars,newamerican,tapasmallplates","japanese,sushi,seafood","seafood,raw_food",seafood,...,restaurants,restaurants,newamerican,"sandwiches,hotdogs",sandwiches,"hotdogs,sandwiches","burgers,hotdog,sandwiches","sandwiches,hotdogs",sandwiches,sandwiches
category_hotdogs,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
category_tradamerican,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_burgers,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
category_newamerican,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
category_breakfast_brunch,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_asianfusion,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_cocktailbars,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_chinese,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_malaysian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_noodles,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_tapasmallplates,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_mexican,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_italian,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_greek,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_mediterranean,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_vietnamese,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_ramen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_mideastern,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_korean,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_izakaya,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
category_pastashops,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_cuban,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_african,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_catalan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_creperies,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_southafrican,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_turkish,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_japacurry,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_hair,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_food_court,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_communitycenters,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_bubbletea,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_tuscan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_scandinavian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_cheesesteaks,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_australian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_trinidadian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_senegalese,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_bookstores,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_egyptian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_shanghainese,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_cafeteria,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_seafoodmarkets,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_gelato,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
category_panasian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
popularity,35,18085.5,1696,27,28426.5,3438,1544,3152,2362.5,12188,...,4,15,17.5,38,5,42,2,7.5,15,20
$,0,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,1,1
$$,1,1,1,1,1,0,1,1,1,0,...,1,0,0,0,1,1,1,0,0,0
$$$,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
$$$$,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Pictures!

In [288]:
from get_pics import get_urls, display_pics, find_most_popular

In [137]:
def top_twenty_cats(df):
    temp_list = cat_counts(df).most_common()[:19]
    top_twenty_cats = []
    for item in temp_list:
        top_twenty_cats.append('category_'+item[0])
    return top_twenty_cats

In [138]:
top_twenty = top_twenty_cats(cleaned_df)
top_twenty

['category_sandwiches',
 'category_newamerican',
 'category_seafood',
 'category_breakfast_brunch',
 'category_tradamerican',
 'category_cafes',
 'category_hotdogs',
 'category_delis',
 'category_bars',
 'category_chinese',
 'category_salad',
 'category_vietnamese',
 'category_japanese',
 'category_noodles',
 'category_coffee',
 'category_bakeries',
 'category_mexican',
 'category_asianfusion',
 'category_foodtrucks']

In [150]:
hand_selected_top_twenty = ['category_newamerican',
                        'category_tradamerican',
                        'category_hotdogs',
                        'category_chinese',
                        'category_salad',
                        'category_vietnamese',
                        'category_japanese',
                        'category_mexican',
                        'category_asianfusion',
                        'category_pizza',
                        'category_burgers',
                        'category_italian',
                        'category_cantonese',
                        'category_bbq',
                        'category_korean',
                        'category_thai',
                        'category_mediterranean',
                        'category_indpak',
                        'category_poke',
                        'category_french']

In [151]:
most_popular = find_most_popular(cleaned_df, hand_selected_top_twenty)

category_newamerican: purple-caf-and-wine-bar-seattle-3
category_tradamerican: metropolitan-grill-seattle
category_hotdogs: mod-pizza-seattle-7
category_chinese: mikes-noodle-house-seattle
category_salad: specialtys-caf-and-bakery-seattle-34
category_vietnamese: tamarind-tree-seattle
category_japanese: japonessa-sushi-cocina-seattle
category_mexican: el-borracho-seattle
category_asianfusion: chan-seattle-seattle-2
category_pizza: vons-1000-spirits-seattle-4
category_burgers: red-robin-gourmet-burgers-seattle-7
category_italian: the-pink-door-seattle-4
category_cantonese: harbor-city-restaurant-seattle
category_bbq: harbor-city-restaurant-seattle
category_korean: chan-seattle-seattle-2
category_thai: wild-ginger-seattle
category_mediterranean: zig-zag-cafe-seattle-2
category_indpak: daawat-grill-seattle-2
category_poke: gopok-seattle-5
category_french: caf-campagne-seattle-3

In [152]:
display_pics(most_popular, cleaned_df)

the-pink-door-seattle-4

harbor-city-restaurant-seattle

japonessa-sushi-cocina-seattle

metropolitan-grill-seattle

mikes-noodle-house-seattle

tamarind-tree-seattle

chan-seattle-seattle-2

gopok-seattle-5

purple-caf-and-wine-bar-seattle-3

zig-zag-cafe-seattle-2

vons-1000-spirits-seattle-4

daawat-grill-seattle-2

el-borracho-seattle

caf-campagne-seattle-3

mod-pizza-seattle-7

wild-ginger-seattle

red-robin-gourmet-burgers-seattle-7

specialtys-caf-and-bakery-seattle-34

In [153]:
most_popular

['purple-caf-and-wine-bar-seattle-3',
 'metropolitan-grill-seattle',
 'mod-pizza-seattle-7',
 'mikes-noodle-house-seattle',
 'specialtys-caf-and-bakery-seattle-34',
 'tamarind-tree-seattle',
 'japonessa-sushi-cocina-seattle',
 'el-borracho-seattle',
 'chan-seattle-seattle-2',
 'vons-1000-spirits-seattle-4',
 'red-robin-gourmet-burgers-seattle-7',
 'the-pink-door-seattle-4',
 'harbor-city-restaurant-seattle',
 'harbor-city-restaurant-seattle',
 'chan-seattle-seattle-2',
 'wild-ginger-seattle',
 'zig-zag-cafe-seattle-2',
 'daawat-grill-seattle-2',
 'gopok-seattle-5',
 'caf-campagne-seattle-3']

In [293]:
type(display_pics(most_popular, cleaned_df))

the-pink-door-seattle-4 https://s3-media1.fl.yelpcdn.com/bphoto/c_vzRF4h3ywnyeM116QFuA/o.jpg

harbor-city-restaurant-seattle https://s3-media4.fl.yelpcdn.com/bphoto/d2UC0JDwac7JpuOobXPdXg/o.jpg

japonessa-sushi-cocina-seattle https://s3-media3.fl.yelpcdn.com/bphoto/vucCrknnlu1RRvRaKWwovQ/o.jpg

metropolitan-grill-seattle https://s3-media1.fl.yelpcdn.com/bphoto/2Jk8ycCKf7XaSrHdpWxEdw/o.jpg

mikes-noodle-house-seattle https://s3-media2.fl.yelpcdn.com/bphoto/RvnKn7j4My0siLCX0r3ORw/o.jpg

tamarind-tree-seattle https://s3-media1.fl.yelpcdn.com/bphoto/1b10PuHwil788-XO1wAAFA/o.jpg

chan-seattle-seattle-2 https://s3-media3.fl.yelpcdn.com/bphoto/lXUNpkiPMgsLU1GCR5M4Iw/o.jpg

gopok-seattle-5 https://s3-media1.fl.yelpcdn.com/bphoto/lK3-6tRA0Arvp910kAXE1w/o.jpg

purple-caf-and-wine-bar-seattle-3 https://s3-media1.fl.yelpcdn.com/bphoto/sJYGdSEjcvMDPlRaHOEHYA/o.jpg

zig-zag-cafe-seattle-2 https://s3-media1.fl.yelpcdn.com/bphoto/GkTDqQt2b81unM_i2T9zoA/o.jpg

vons-1000-spirits-seattle-4 https://s3-media2.fl.yelpcdn.com/bphoto/ClVy0w7zsSIPkrFAKCxSqA/o.jpg

daawat-grill-seattle-2 https://s3-media3.fl.yelpcdn.com/bphoto/YqH68neO7-7KlzjjgQT_4g/o.jpg

el-borracho-seattle https://s3-media3.fl.yelpcdn.com/bphoto/LFo_pxrIEmbVhkKSzZ0jiA/o.jpg

caf-campagne-seattle-3 https://s3-media2.fl.yelpcdn.com/bphoto/a4MuBioV2xRlPDG7UKCa6Q/o.jpg

mod-pizza-seattle-7 https://s3-media4.fl.yelpcdn.com/bphoto/-TyWNrxvtDu-t0EZBiHgjw/o.jpg

wild-ginger-seattle https://s3-media1.fl.yelpcdn.com/bphoto/_96Dw17OHQfzuz2phxFzYw/o.jpg

red-robin-gourmet-burgers-seattle-7 https://s3-media2.fl.yelpcdn.com/bphoto/bcN0Jrfkc51RcO7SFpZTMg/o.jpg

specialtys-caf-and-bakery-seattle-34 https://s3-media1.fl.yelpcdn.com/bphoto/1gfEEPeeOHo2uGSGaAD6-Q/o.jpg

NoneType

In [154]:
gabe_picture_ratings = {'purple-caf-and-wine-bar-seattle-3': 6,
 'metropolitan-grill-seattle': 6,
 'mod-pizza-seattle-7': 8,
 'mikes-noodle-house-seattle': 4,
 'specialtys-caf-and-bakery-seattle-34': 7,
 'tamarind-tree-seattle': 7,
 'japonessa-sushi-cocina-seattle': 9,
 'el-borracho-seattle': 8,
 'chan-seattle-seattle-2': 8,
 'vons-1000-spirits-seattle-4': 4,
 'red-robin-gourmet-burgers-seattle-7': 7,
 'the-pink-door-seattle-4': 3,
 'harbor-city-restaurant-seattle': 8,
 'harbor-city-restaurant-seattle': 8,
 'chan-seattle-seattle-2': 8,
 'wild-ginger-seattle': 8,
 'zig-zag-cafe-seattle-2': 4,
 'daawat-grill-seattle-2': 8,
 'gopok-seattle-5': 6,
 'caf-campagne-seattle-3': 7}

In [159]:
cleaned_df.columns

Index(['alias', 'id', 'image_url', 'location', 'rating', 'review_count',
       'transactions', 'url', 'dist_from_galvanize', 'cats',
       ...
       'category_shanghainese', 'category_cafeteria',
       'category_seafoodmarkets', 'category_gelato', 'category_panasian',
       'popularity', '$', '$$', '$$$', '$$$$'],
      dtype='object', length=180)

In [164]:
V = cleaned_df.drop(columns=['id','image_url', 'location', 'rating', 'review_count',
       'transactions', 'url', 'dist_from_galvanize', 'cats', 'popularity'])

In [169]:
V.reset_index(drop=True, inplace=True)
V

,alias,category_hotdogs,category_tradamerican,category_burgers,category_newamerican,category_breakfast_brunch,category_asianfusion,category_cocktailbars,category_chinese,category_malaysian,...,category_egyptian,category_shanghainese,category_cafeteria,category_seafoodmarkets,category_gelato,category_panasian,$,$$,$$$,$$$$
0,amazon-go-seattle-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,the-pink-door-seattle-4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,nirmals-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,bad-bishop-seattle,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,pike-place-chowder-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,biscuit-bitch-seattle-5,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,damn-the-weather-seattle,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
7,tsukushinbo-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,taylor-shellfish-oyster-bar-seattle-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,elliotts-oyster-house-seattle-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,dough-zone-dumpling-house-seattle-2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
11,the-london-plane-seattle-3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,a-hong-kong-kitchen-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13,radiator-whiskey-seattle,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
14,sizzling-pot-king-seattle-2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
15,one-pot-seattle-3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,ummas-lunch-box-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
17,dead-line-seattle,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
18,tats-delicatessen-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,harbor-city-restaurant-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,shawn-o-donnells-american-grill-and-irish-pub-...,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,commissary-korean-kitchen-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,king-noodle-seattle,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
23,bibimbap-king-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,good-bar-seattle-3,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
25,casco-antiguo-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,tofully-seattle-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,brgr-bar-seattle-seattle,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,japonessa-sushi-cocina-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,metropolitan-grill-seattle,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,grid-iron-grill-seattle,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
628,subway-seattle-91,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
629,jimmy-johns-seattle-12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
630,subway-seattle-6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
631,coco-la-ti-da-seattle-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
632,market-fresh-seattle,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
633,subway-seattle-37,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
634,blue-water-taco-grill-seattle-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
635,kebab-seattle-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
636,espresso-caffe-dior-seattle,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
637,1st-floor-cafe-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
638,nachyo-average-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
639,la-creperie-by-ethan-stowell-seattle-3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
640,taco-del-mar-seattle-7,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
641,kidd-valley-seattle-7,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
642,tummy-yummy-thai-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
643,mediterranean-cuisine-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
644,cocina-buena-food-truck-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
645,ricenroll-seattle-2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
646,subway-seattle-12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
647,restaurant-specialty-services-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
648,union-deli-la-puget-sound-plaza-building-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
649,measure-seattle,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
650,subway-seattle-3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
651,u-bank-cafe-seattle,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
652,subway-seattle-31,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
653,hamburg-frites-seattle,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
654,subway-seattle-66,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
655,organic-to-go-seattle-4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
656,chez-dave-seattle-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
for key, value in gabe_picture_ratings:
    V.apply(lambda x: x*value if x==key)

In [257]:
X = pd.DataFrame(data= [[1, 0, 0, 0, 1], [0, 1, 1, 1, 0], [1, 0, 0, 1, 1]], columns=['feature_a', 'feature_b', 'feature_c', 'feature_d', 'feature_e'], index=['panda_express', 'mcdonalds', 'taco_bell'])

In [258]:
X

               feature_a  feature_b  feature_c  feature_d  feature_e
panda_express          1          0          0          0          1
mcdonalds              0          1          1          1          0
taco_bell              1          0          0          1          1

In [247]:
ratings = {'panda_express': 8,
          'mcdonalds': 3,
          'taco_bell': 10}

In [227]:
index = X.index

In [238]:
for key, value in ratings.items():
    X.loc[key] *= value

In [256]:
X

               feature_a  feature_b  feature_c  feature_d  feature_e
panda_express       4096          0          0          0       4096
mcdonalds              0         81         81         81          0
taco_bell          10000          0          0      10000      10000

In [240]:
gabe_feature_ratings = X.mean()

In [241]:
gabe_feature_ratings

feature_a    6.000000
feature_b    1.000000
feature_c    1.000000
feature_d    4.333333
feature_e    6.000000
dtype: float64

In [443]:
gabe_feature_ratings.std()

2.5276251480171834

In [277]:
def average_user_ratings(restaurant_matrix, user_ratings_dict):
    ratings = restaurant_matrix.copy()
    for key, value in user_ratings_dict.items():
        ratings.loc[key] *= value
    return ratings.mean()

In [278]:
test = update_restaurant_matrix(X, ratings).mean()

In [279]:
test

feature_a    6.000000
feature_b    1.000000
feature_c    1.000000
feature_d    4.333333
feature_e    6.000000
dtype: float64

In [281]:
U = pd.DataFrame(data= [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]], columns=['feature_a', 'feature_b', 'feature_c', 'feature_d', 'feature_e'], index=['gabe', 'nicole', 'jordan', 'someone'])

In [275]:
U.loc['gabe'] = test

In [282]:
U

         feature_a  feature_b  feature_c  feature_d  feature_e
gabe             0          0          0          0          0
nicole           0          0          0          0          0
jordan           0          0          0          0          0
someone          0          0          0          0          0

In [280]:
def update_user_ratings(user, user_matrix, average_ratings, ):
    user_matrix.loc[user] = average_ratings

In [284]:
update_user_ratings('gabe', U, test)

In [285]:
U

         feature_a  feature_b  feature_c  feature_d  feature_e
gabe           6.0        1.0        1.0   4.333333        6.0
nicole         0.0        0.0        0.0   0.000000        0.0
jordan         0.0        0.0        0.0   0.000000        0.0
someone        0.0        0.0        0.0   0.000000        0.0

### User Data Rough Draft

In [454]:
from recommender import average_user_ratings, update_user_ratings, standardize_ratings, find_top_recs

In [455]:
gabe_picture_ratings = {'purple-caf-and-wine-bar-seattle-3': 6,
 'metropolitan-grill-seattle': 6,
 'mod-pizza-seattle-7': 8,
 'mikes-noodle-house-seattle': 4,
 'specialtys-caf-and-bakery-seattle-34': 7,
 'tamarind-tree-seattle': 7,
 'japonessa-sushi-cocina-seattle': 9,
 'el-borracho-seattle': 8,
 'chan-seattle-seattle-2': 8,
 'vons-1000-spirits-seattle-4': 4,
 'red-robin-gourmet-burgers-seattle-7': 7,
 'the-pink-door-seattle-4': 3,
 'harbor-city-restaurant-seattle': 8,
 'harbor-city-restaurant-seattle': 8,
 'chan-seattle-seattle-2': 8,
 'wild-ginger-seattle': 8,
 'zig-zag-cafe-seattle-2': 4,
 'daawat-grill-seattle-2': 8,
 'gopok-seattle-5': 6,
 'caf-campagne-seattle-3': 7}

In [456]:
nicole_picture_ratings = {'the-pink-door-seattle-4': 6,
                          'harbor-city-restaurant-seattle': 9,
                          'japonessa-sushi-cocina-seattle': 9,
                          'metropolitan-grill-seattle': 5,
                          'el-borracho-seattle': 10,
                          'caf-campagne-seattle-3': 7,
                          'mod-pizza-seattle-7': 8,
                          'specialtys-caf-and-bakery-seattle-34': 9,
                          'vons-1000-spirits-seattle-4': 5,
                          'tamarind-tree-seattle': 7}

In [457]:
alex_picture_ratings = {'the-pink-door-seattle-4': 5,
                          'harbor-city-restaurant-seattle': 6,
                          'japonessa-sushi-cocina-seattle': 5,
                          'metropolitan-grill-seattle': 4,
                          'el-borracho-seattle': 4,
                          'caf-campagne-seattle-3': 5,
                          'mod-pizza-seattle-7': 5,
                          'specialtys-caf-and-bakery-seattle-34': 7,
                          'vons-1000-spirits-seattle-4': 2,
                          'tamarind-tree-seattle': 5}

In [458]:
jordan_picture_ratings = {'the-pink-door-seattle-4': 4,
                          'harbor-city-restaurant-seattle': 8,
                          'japonessa-sushi-cocina-seattle': 9,
                          'metropolitan-grill-seattle': 8,
                          'el-borracho-seattle': 7,
                          'caf-campagne-seattle-3': 4,
                          'mod-pizza-seattle-7': 8,
                          'specialtys-caf-and-bakery-seattle-34': 5,
                          'vons-1000-spirits-seattle-4': 4,
                          'tamarind-tree-seattle': 7}

In [459]:
grant_picture_ratings = {'the-pink-door-seattle-4': 7,
                          'harbor-city-restaurant-seattle': 2,
                          'japonessa-sushi-cocina-seattle': 9,
                          'metropolitan-grill-seattle': 2,
                          'el-borracho-seattle': 4,
                          'caf-campagne-seattle-3': 6,
                          'mod-pizza-seattle-7': 8,
                          'specialtys-caf-and-bakery-seattle-34': 5,
                          'vons-1000-spirits-seattle-4': 4,
                          'tamarind-tree-seattle': 5}

In [460]:
jonny_picture_ratings = {'the-pink-door-seattle-4': 5,
                          'harbor-city-restaurant-seattle': 8,
                          'japonessa-sushi-cocina-seattle': 9,
                          'metropolitan-grill-seattle': 6,
                          'el-borracho-seattle': 7,
                          'caf-campagne-seattle-3': 7,
                          'mod-pizza-seattle-7': 8,
                          'specialtys-caf-and-bakery-seattle-34': 8,
                          'vons-1000-spirits-seattle-4': 4,
                          'tamarind-tree-seattle': 6}

In [461]:
U = pd.DataFrame(columns=restaurant_matrix.columns, 
                 index=['gabe', 'nicole', 'jordan', 'alex', 'jonny', 'carlo', 'grant'])

In [464]:
U.head()

,category_hotdogs,category_tradamerican,category_burgers,category_newamerican,category_breakfast_brunch,category_asianfusion,category_cocktailbars,category_chinese,category_malaysian,category_noodles,...,category_egyptian,category_shanghainese,category_cafeteria,category_seafoodmarkets,category_gelato,category_panasian,$,$$,$$$,$$$$
gabe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nicole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jonny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [480]:
update_user_ratings(user='gabe', user_matrix=U, restaurant_matrix=V, user_ratings_dict=gabe_picture_ratings)

In [481]:
#U.loc['gabe'].sort_values(ascending=False)

In [482]:
update_user_ratings(user='nicole', user_matrix=U, restaurant_matrix=V, user_ratings_dict=nicole_picture_ratings)

In [483]:
update_user_ratings(user='jordan', user_matrix=U, restaurant_matrix=V, user_ratings_dict=jordan_picture_ratings)

In [484]:
update_user_ratings(user='alex', user_matrix=U, restaurant_matrix=V, user_ratings_dict=alex_picture_ratings)

In [485]:
update_user_ratings(user='grant', user_matrix=U, restaurant_matrix=V, user_ratings_dict=grant_picture_ratings)

In [486]:
update_user_ratings(user='jonny', user_matrix=U, restaurant_matrix=V, user_ratings_dict=jonny_picture_ratings)

In [487]:
U.drop(index='carlo', inplace=True)

In [488]:
U.shape

(6, 169)

In [490]:
V.set_index(keys=['alias'], inplace=True)

In [492]:
U

,category_hotdogs,category_tradamerican,category_burgers,category_newamerican,category_breakfast_brunch,category_asianfusion,category_cocktailbars,category_chinese,category_malaysian,category_noodles,...,category_egyptian,category_shanghainese,category_cafeteria,category_seafoodmarkets,category_gelato,category_panasian,$,$$,$$$,$$$$
gabe,0.91371,1.15095,0.296896,1.36446,1.22212,0.439238,0.32062,0.605303,-0.343641,0.58158,...,-0.343641,-0.272471,-0.296194,-0.319918,-0.319918,-0.130129,6.82089,9.62028,0.32062,-0.177576
nicole,0.972103,1.04629,0.180724,1.26887,1.2936,0.304377,0.279646,0.576413,-0.338619,0.551683,...,-0.338619,-0.264427,-0.289158,-0.313888,-0.313888,-0.289158,7.10529,9.35578,0.230185,-0.190235
jordan,1.00033,1.15209,0.190967,1.27855,1.25326,0.31743,0.292137,0.595649,-0.340179,0.570357,...,-0.340179,-0.264301,-0.289593,-0.314886,-0.314886,-0.289593,7.17174,9.32161,0.241552,-0.112545
alex,0.947975,1.07672,0.201266,1.25696,1.30846,0.330009,0.30426,0.613243,-0.339455,0.535998,...,-0.339455,-0.262209,-0.287958,-0.313706,-0.313706,-0.287958,7.28213,9.21328,0.252763,-0.210712
jonny,0.987385,1.08753,0.186218,1.26279,1.31286,0.3114,0.286364,0.586801,-0.339548,0.536728,...,-0.339548,-0.264438,-0.289475,-0.314511,-0.314511,-0.289475,7.17139,9.29949,0.236291,-0.164293
grant,1.0144,1.0144,0.197806,1.2951,1.32062,0.325399,0.29988,0.606102,-0.338082,0.529547,...,-0.338082,-0.261527,-0.287045,-0.312564,-0.312564,-0.287045,7.24091,9.25688,0.248843,-0.261527

In [493]:
U_array = np.array(U)

In [362]:
U_array.shape

(6, 169)

In [494]:
V_array = np.array(V)

In [495]:
R = U.dot(V.T)

In [496]:
R

alias,amazon-go-seattle-5,the-pink-door-seattle-4,nirmals-seattle,bad-bishop-seattle,pike-place-chowder-seattle,biscuit-bitch-seattle-5,damn-the-weather-seattle,tsukushinbo-seattle,taylor-shellfish-oyster-bar-seattle-2,elliotts-oyster-house-seattle-2,...,restaurant-specialty-services-seattle,union-deli-la-puget-sound-plaza-building-seattle,measure-seattle,subway-seattle-3,u-bank-cafe-seattle,subway-seattle-31,hamburg-frites-seattle,subway-seattle-66,organic-to-go-seattle-4,chez-dave-seattle-2
gabe,12.3377,11.2227,9.70366,9.66843,10.736,8.11488,11.1989,11.7446,10.5225,1.44784,...,9.62028,6.82089,1.68508,10.048,11.9337,12.8474,12.1716,10.048,9.13429,9.13429
nicole,12.3463,11.0108,9.2892,9.371,10.6323,8.51304,10.813,11.7033,10.4097,1.49906,...,9.35578,7.10529,1.49906,10.5581,11.8364,12.8086,11.9753,10.5581,9.58596,9.58596
jordan,12.1961,10.8809,9.25965,9.34945,10.5888,8.554,10.805,11.6903,10.3612,1.49481,...,9.32161,7.17174,1.5201,10.6141,11.7636,12.764,11.9179,10.6141,9.61375,9.61375
alex,12.2632,10.8985,9.15706,9.25533,10.5428,8.73563,10.6925,11.465,10.311,1.56122,...,9.21328,7.28213,1.50972,10.7745,11.7577,12.7056,11.9285,10.7745,9.82652,9.82652
jonny,12.2867,10.9097,9.23534,9.32142,10.5732,8.60632,10.7595,11.6608,10.3479,1.49908,...,9.29949,7.17139,1.49908,10.6483,11.7891,12.7764,11.9362,10.6483,9.66096,9.66096
grant,12.1725,11.0752,9.1995,9.29523,10.6222,8.70196,10.769,11.7387,10.3925,1.59498,...,9.25688,7.24091,1.54395,10.7243,11.7258,12.7402,11.8918,10.7243,9.70987,9.70987

In [500]:
popularity = cleaned_df['popularity']

In [553]:
jordan = find_top_recs('jordan', R, popularity)

In [554]:
gabe = find_top_recs(user='gabe', ratings_matrix=R, popularity_scores=popularity)

In [555]:
alex = find_top_recs('alex', R, popularity)

In [556]:
nicole = find_top_recs('nicole', R, popularity)

In [557]:
grant = find_top_recs('grant', R, popularity)

In [558]:
grant.mean()

52.566111201418643

In [441]:
unweighted_prefs = R.loc['gabe']

weighted = unweighted_prefs * np.log(popularity + 1)

In [569]:
recs_df = pd.concat([jordan, gabe], axis=1, names=['jordan', 'gabe'])

/Users/gnishimura/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [579]:
recs_df['mean'] = recs_df.mean(axis=1)
recs_df['mean'].sort_values(ascending=False)

lowells-restaurant-seattle                             110.183131
pike-place-chowder-seattle                             109.343984
green-leaf-vietnamese-restaurant-seattle               109.317497
the-pink-door-seattle-4                                108.339914
ivars-acres-of-clams-seattle-7                         104.566826
tats-delicatessen-seattle                              103.748142
biscuit-bitch-seattle                                  103.264714
salumi-artisan-cured-meats-seattle-2                   103.150135
shaker-and-spear-seattle-2                             102.568087
japonessa-sushi-cocina-seattle                         102.249351
frolik-kitchen-cocktails-seattle-2                     102.197084
lecsho-seattle-2                                      101.931404
the-athenian-seafood-restaurant-and-bar-seattle-2      101.744119
steelhead-diner-seattle                                 99.157795
market-grill-seattle                                    99.080584
seatown-seabar-seattle                                  98.855960
cutters-crabhouse-seattle                               98.327041
caf-campagne-seattle-3                                 98.151575
pike-place-chowder-seattle-4                            96.977555
pike-brewing-company-seattle                            96.952500
bacco-cafe-and-bistro-seattle-2                         95.786670
tsukushinbo-seattle                                     94.396990
jade-garden-seattle                                     94.317803
vons-1000-spirits-seattle-4                             94.316365
radiator-whiskey-seattle                                94.238466
zig-zag-cafe-seattle-2                                  92.944130
ba-bar-seattle                                          92.943379
fonte-caf-seattle                                      92.823812
tamarind-tree-seattle                                   90.959727
bookstore-bar-and-cafe-seattle-6                        90.562161
                                                          ...
mels-market-seattle-2                                   14.116474
rn74-seattle                                            13.873272
elliotts-oyster-house-seattle-2                         13.842663
lickettys-bbq-seattle                                   13.572866
west-edge-market-seattle                                13.325904
hamburg-frites-seattle                                  13.232533
matts-in-the-market-seattle                             13.146538
white-knuckle-foods-seattle                             12.995152
the-crab-pot-seattle-2                                  12.791956
il-bistro-seattle                                       12.658671
alaska-building-deli-seattle                            12.405954
1st-floor-cafe-seattle                                  12.405954
the-capital-grille-seattle                              12.353186
flame-grilled-hot-dogs-seattle                          11.461228
georgian-restaurant-seattle                             11.414069
andaluca-seattle-2                                      10.649392
la-creperie-by-ethan-stowell-seattle-3                  10.299840
the-brooklyn-seafood-steak-and-oyster-house-seattle     10.216830
scout-seattle                                           10.212455
kidd-valley-seattle-7                                    9.180110
metropolitan-grill-seattle                               8.599149
sushi-kashiba-seattle                                    7.467435
max-s-hairsalon-seattle                                  7.303200
grid-iron-grill-seattle                                  6.733838
muse-at-benaroya-hall-seattle                            5.951336
measure-seattle                                          4.675992
il-terrazzo-carmine-seattle                              4.418390
cortina-seattle-3                                        3.337716
place-pigalle-seattle                                    2.013595
hot-pot-king-seattle-3                                   0.799376
Name: mean, Length: 657, dtype: float64

In [584]:
def produce_recs(user1, user2, n):
    
    u1 = find_top_recs(user1, R, popularity)
    u2 = find_top_recs(user2, R, popularity)
    
    recs_df = pd.concat([u1, u2], axis=1)
    recs_df['mean'] = recs_df.mean(axis=1)
    recs_df.sort_values(by=['mean'], ascending=False)
    return recs_df.index[:n]

In [585]:
produce_recs('alex', 'jordan', 3)

/Users/gnishimura/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Index(['13-coins-restaurant-seattle-3', '1st-floor-cafe-seattle',
       '206-burger-company-seattle'],
      dtype='object')

### Start a spark session

In [348]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.ml.recommendation import ALS
import matplotlib.pyplot as plt
%matplotlib inline

In [349]:
# Setup a SparkSession
spark = SparkSession.builder.getOrCreate()

In [350]:
# Convert a Pandas DF to a Spark DF
spark_U = spark.createDataFrame(U)

In [351]:
spark_V = spark.createDataFrame(V)

In [355]:
spark_U.printSchema()

root
 |-- category_hotdogs: double (nullable = true)
 |-- category_tradamerican: double (nullable = true)
 |-- category_burgers: double (nullable = true)
 |-- category_newamerican: double (nullable = true)
 |-- category_breakfast_brunch: double (nullable = true)
 |-- category_asianfusion: double (nullable = true)
 |-- category_cocktailbars: double (nullable = true)
 |-- category_chinese: double (nullable = true)
 |-- category_malaysian: double (nullable = true)
 |-- category_noodles: double (nullable = true)
 |-- category_tapasmallplates: double (nullable = true)
 |-- category_mexican: double (nullable = true)
 |-- category_italian: double (nullable = true)
 |-- category_greek: double (nullable = true)
 |-- category_mediterranean: double (nullable = true)
 |-- category_vietnamese: double (nullable = true)
 |-- category_ramen: double (nullable = true)
 |-- category_mideastern: double (nullable = true)
 |-- category_korean: double (nullable = true)
 |-- category_izakaya: double (nullable = true)
 |-- category_sushi: double (nullable = true)
 |-- category_indpak: double (nullable = true)
 |-- category_pizza: double (nullable = true)
 |-- category_desserts: double (nullable = true)
 |-- category_bakeries: double (nullable = true)
 |-- category_vegan: double (nullable = true)
 |-- category_coffee: double (nullable = true)
 |-- category_japanese: double (nullable = true)
 |-- category_hawaiian: double (nullable = true)
 |-- category_tacos: double (nullable = true)
 |-- category_foodstands: double (nullable = true)
 |-- category_peruvian: double (nullable = true)
 |-- category_bbq: double (nullable = true)
 |-- category_chickenshop: double (nullable = true)
 |-- category_lebanese: double (nullable = true)
 |-- category_persian: double (nullable = true)
 |-- category_syrian: double (nullable = true)
 |-- category_delis: double (nullable = true)
 |-- category_southern: double (nullable = true)
 |-- category_seafood: double (nullable = true)
 |-- category_sandwiches: double (nullable = true)
 |-- category_poke: double (nullable = true)
 |-- category_bars: double (nullable = true)
 |-- category_salad: double (nullable = true)
 |-- category_raw_food: double (nullable = true)
 |-- category_steak: double (nullable = true)
 |-- category_butcher: double (nullable = true)
 |-- category_musicvenues: double (nullable = true)
 |-- category_soulfood: double (nullable = true)
 |-- category_spanish: double (nullable = true)
 |-- category_tapas: double (nullable = true)
 |-- category_basque: double (nullable = true)
 |-- category_taiwanese: double (nullable = true)
 |-- category_cafes: double (nullable = true)
 |-- category_pubs: double (nullable = true)
 |-- category_comfortfood: double (nullable = true)
 |-- category_falafel: double (nullable = true)
 |-- category_brazilian: double (nullable = true)
 |-- category_buffets: double (nullable = true)
 |-- category_french: double (nullable = true)
 |-- category_wine_bars: double (nullable = true)
 |-- category_thai: double (nullable = true)
 |-- category_vegetarian: double (nullable = true)
 |-- category_gastropubs: double (nullable = true)
 |-- category_chicken_wings: double (nullable = true)
 |-- category_fishnchips: double (nullable = true)
 |-- category_donuts: double (nullable = true)
 |-- category_lounges: double (nullable = true)
 |-- category_hotpot: double (nullable = true)
 |-- category_bikes: double (nullable = true)
 |-- category_bike_repair_maintenance: double (nullable = true)
 |-- category_caribbean: double (nullable = true)
 |-- category_beerbar: double (nullable = true)
 |-- category_halal: double (nullable = true)
 |-- category_streetvendors: double (nullable = true)
 |-- category_themedcafes: double (nullable = true)
 |-- category_venues: double (nullable = true)
 |-- category_meats: double (nullable = true)
 |-- category_argentine: double (nullable = true)
 |-- category_breweries: double (nullable = true)
 |-- category_russian: double (nullable = true)
 |-- category_german: double (nullable = true)
 |-- category_beergardens: double (nullable = true)
 |-- category_himalayan: double (nullable = true)
 |-- category_soup: double (nullable = true)
 |-- category_ethiopian: double (nullable = true)
 |-- category_gluten_free: double (nullable = true)
 |-- category_cakeshop: double (nullable = true)
 |-- category_speakeasies: double (nullable = true)
 |-- category_filipino: double (nullable = true)
 |-- category_empanadas: double (nullable = true)
 |-- category_latin: double (nullable = true)
 |-- category_sicilian: double (nullable = true)
 |-- category_newmexican: double (nullable = true)
 |-- category_moroccan: double (nullable = true)
 |-- category_hotdog: double (nullable = true)
 |-- category_modern_european: double (nullable = true)
 |-- category_foodtrucks: double (nullable = true)
 |-- category_icecream: double (nullable = true)
 |-- category_divebars: double (nullable = true)
 |-- category_juicebars: double (nullable = true)
 |-- category_polish: double (nullable = true)
 |-- category_culturalcenter: double (nullable = true)
 |-- category_acaibowls: double (nullable = true)
 |-- category_convenience: double (nullable = true)
 |-- category_cideries: double (nullable = true)
 |-- category_interiordesign: double (nullable = true)
 |-- category_scottish: double (nullable = true)
 |-- category_british: double (nullable = true)
 |-- category_whiskeybars: double (nullable = true)
 |-- category_diners: double (nullable = true)
 |-- category_bagels: double (nullable = true)
 |-- category_gourmet: double (nullable = true)
 |-- category_cantonese: double (nullable = true)
 |-- category_coffeeroasteries: double (nullable = true)
 |-- category_outlet_stores: double (nullable = true)
 |-- category_catering: double (nullable = true)
 |-- category_healthtrainers: double (nullable = true)
 |-- category_szechuan: double (nullable = true)
 |-- category_sportsbars: double (nullable = true)
 |-- category_tex-mex: double (nullable = true)
 |-- category_wraps: double (nullable = true)
 |-- category_dimsum: double (nullable = true)
 |-- category_hkcafe: double (nullable = true)
 |-- category_indonesian: double (nullable = true)
 |-- category_theater: double (nullable = true)
 |-- category_gaybars: double (nullable = true)
 |-- category_waffles: double (nullable = true)
 |-- category_venezuelan: double (nullable = true)
 |-- category_kebab: double (nullable = true)
 |-- category_danceclubs: double (nullable = true)
 |-- category_jazzandblues: double (nullable = true)
 |-- category_irish: double (nullable = true)
 |-- category_movietheaters: double (nullable = true)
 |-- category_conveyorsushi: double (nullable = true)
 |-- category_cajun: double (nullable = true)
 |-- category_popuprestaurants: double (nullable = true)
 |-- category_brewpubs: double (nullable = true)
 |-- category_beer_and_wine: double (nullable = true)
 |-- category_laotian: double (nullable = true)
 |-- category_pastashops: double (nullable = true)
 |-- category_cuban: double (nullable = true)
 |-- category_african: double (nullable = true)
 |-- category_catalan: double (nullable = true)
 |-- category_creperies: double (nullable = true)
 |-- category_southafrican: double (nullable = true)
 |-- category_turkish: double (nullable = true)
 |-- category_japacurry: double (nullable = true)
 |-- category_hair: double (nullable = true)
 |-- category_food_court: double (nullable = true)
 |-- category_communitycenters: double (nullable = true)
 |-- category_bubbletea: double (nullable = true)
 |-- category_tuscan: double (nullable = true)
 |-- category_scandinavian: double (nullable = true)
 |-- category_cheesesteaks: double (nullable = true)
 |-- category_australian: double (nullable = true)
 |-- category_trinidadian: double (nullable = true)
 |-- category_senegalese: double (nullable = true)
 |-- category_bookstores: double (nullable = true)
 |-- category_egyptian: double (nullable = true)
 |-- category_shanghainese: double (nullable = true)
 |-- category_cafeteria: double (nullable = true)
 |-- category_seafoodmarkets: double (nullable = true)
 |-- category_gelato: double (nullable = true)
 |-- category_panasian: double (nullable = true)
 |-- $: double (nullable = true)
 |-- $$: double (nullable = true)
 |-- $$$: double (nullable = true)
 |-- $$$$: double (nullable = true)

In [ ]:
als_model = ALS(
    itemCol='item_id',
    userCol='user_id',
    ratingCol='rating',
    nonnegative=True,    
    regParam=0.1,
    rank=10)