In [332]:
import pandas as pd
import numpy as np
import pyspark as ps
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    IntegerType, StringType, IntegerType, FloatType, 
    StructField, StructType, DoubleType
)
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
import matplotlib.pyplot as plt
import pickle

## Import the pandas dataframe containing the info from the review scrape

In [117]:
als_df = pd.read_pickle('als_df.pkl')

In [118]:
als_df.reset_index(drop=True, inplace=True)

In [119]:
als_df = als_df[['user_id', 'item_id', 'rating', 'date']]

In [120]:
als_df.shape

(5216, 4)

In [191]:
len(als_df['user_id'].unique())

1524

## Start a spark session to train an ALS model

In [121]:
spark = SparkSession.builder.getOrCreate()

In [122]:
spark_als_df = spark.createDataFrame(als_df)

In [123]:
spark_als_df.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- item_id: long (nullable = true)
 |-- rating: double (nullable = true)
 |-- date: timestamp (nullable = true)

In [124]:
spark_als_df.limit(5).show()

+-------+-------+------+-------------------+
|user_id|item_id|rating|               date|
+-------+-------+------+-------------------+
|   1520|    596|   3.0|2005-08-02 00:00:00|
|   1520|    592|   4.0|2005-09-14 00:00:00|
|   1369|    480|   4.0|2006-05-13 00:00:00|
|   1369|    601|   5.0|2006-05-19 00:00:00|
|   1369|    488|   5.0|2006-05-22 00:00:00|
+-------+-------+------+-------------------+

In [125]:
pandas_als_df = spark_als_df.toPandas()

In [126]:
train = pandas_als_df[:int(len(pandas_als_df)*.8)]
test = pandas_als_df[int(len(pandas_als_df)*.8):]

In [127]:
test = test[['user_id', 'item_id', 'rating']]
test.head()

      user_id  item_id  rating
4172      115      478     4.0
4173      346      296     5.0
4174      149       78     4.0
4175      533      308     5.0
4176       59       39     4.0

In [128]:
train = train[['user_id', 'item_id', 'rating']]

In [129]:
train.head()

   user_id  item_id  rating
0     1520      596     3.0
1     1520      592     4.0
2     1369      480     4.0
3     1369      601     5.0
4     1369      488     5.0

In [188]:
train.shape

(4172, 3)

In [148]:
als_model = ALS(
    itemCol='item_id',
    userCol='user_id',
    ratingCol='rating',
    nonnegative=True,    
    regParam=0.1,
    rank=10,
    coldStartStrategy = 'drop')

In [149]:
spark_train = spark.createDataFrame(train)

In [150]:
spark_test = spark.createDataFrame(test)

In [151]:
recommender = als_model.fit(spark_train)

In [152]:
train_preds = recommender.transform(spark_train)

In [153]:
test_preds = recommender.transform(spark_test)

In [154]:
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")

In [155]:
rmse_train = evaluator.evaluate(train_preds)

In [156]:
rmse_train

0.1541621332564429

In [157]:
rmse_test = evaluator.evaluate(test_preds)

In [158]:
rmse_test

1.4248735903235368

In [ ]:
#restaurant_recs = recommender.recommendForAllUsers(10)

In [160]:
restaurant_recs.limit(5).toPandas()

   user_id                                    recommendations
0      471  [(616, 5.617592811584473), (344, 5.07469081878...
1     1342  [(350, 3.8274924755096436), (162, 3.8184649944...
2      463  [(16, 5.386734962463379), (94, 5.3835062980651...
3      833  [(87, 5.153095245361328), (225, 5.072264671325...
4      496  [(16, 4.219986915588379), (64, 4.0130820274353...

## Addressing the Cold Start Problem

In [140]:
user_factors = recommender.userFactors.collect()

In [141]:
item_factors = recommender.itemFactors.collect()

In [142]:
user_factors[0]

Row(id=0, features=[0.48242494463920593, 0.017530081793665886, 0.24016182124614716, 0.02696259692311287, 0.8009696006774902, 0.0, 1.1975611448287964, 0.7038739919662476, 0.4649558365345001, 0.9926409721374512])

In [143]:
item_factors[0]

Row(id=0, features=[0.10419613867998123, 0.38785940408706665, 1.1959340572357178, 0.04274549335241318, 0.05032627657055855, 1.2436206340789795, 1.2638238668441772, 0.05121312290430069, 0.012972562573850155, 1.6055973768234253])

In [164]:
uf_df = recommender.userFactors.toPandas()

In [165]:
if_df = recommender.itemFactors.toPandas()

In [388]:
if_df

      id                                           features
0      0  [0.10419613867998123, 0.38785940408706665, 1.1...
1     10  [0.909296989440918, 0.7954235672950745, 1.3571...
2     20  [0.47380009293556213, 0.7909039258956909, 1.13...
3     30  [0.14003269374370575, 0.6215099096298218, 0.95...
4     40  [1.0893316268920898, 0.4428764879703522, 0.251...
5     50  [0.8308094143867493, 0.7112256288528442, 0.575...
6     60  [0.21283996105194092, 0.25575241446495056, 0.2...
7     70  [0.5204952955245972, 0.48651251196861267, 0.93...
8     80  [1.5235199928283691, 0.49236446619033813, 0.40...
9     90  [1.3531551361083984, 0.38193807005882263, 0.33...
10   100  [0.5780737400054932, 0.44658273458480835, 0.31...
11   110  [0.6023818850517273, 0.18357807397842407, 0.33...
12   120  [0.47164732217788696, 0.6147260069847107, 0.82...
13   130  [0.5525981187820435, 0.6026934385299683, 1.162...
14   140  [1.294752597808838, 0.28592169284820557, 0.653...
15   150  [1.078593134880066, 0.6654781103134155, 0.1880...
16   160  [0.5522965788841248, 0.4525028467178345, 0.062...
17   170  [0.5410419702529907, 0.5455978512763977, 0.648...
18   180  [0.6754888892173767, 1.2598625421524048, 0.569...
19   190  [1.0829238891601562, 0.0, 0.33918893337249756,...
20   200  [0.9226093292236328, 1.0698379278182983, 0.471...
21   210  [1.7355962991714478, 0.499676913022995, 0.1459...
22   220  [1.2833468914031982, 0.7899225354194641, 0.255...
23   230  [0.20722612738609314, 0.22813577950000763, 1.2...
24   240  [0.7188655734062195, 0.5454598069190979, 0.253...
25   250  [0.4882432520389557, 0.00679059000685811, 0.45...
26   260  [0.48396602272987366, 0.17086201906204224, 0.3...
27   270  [0.9522432684898376, 0.6598225831985474, 0.550...
28   280  [0.9986820816993713, 0.04555445909500122, 2.23...
29   290  [0.14100895822048187, 0.6447824239730835, 0.71...
..   ...                                                ...
580  329  [1.1984902620315552, 0.38089266419410706, 0.00...
581  339  [0.79441899061203, 1.1667803525924683, 0.56417...
582  349  [0.48769235610961914, 0.7048643827438354, 0.61...
583  359  [0.7659767270088196, 0.6953447461128235, 0.266...
584  369  [0.6732683181762695, 0.6420629024505615, 0.454...
585  379  [0.9197307825088501, 0.21413227915763855, 1.21...
586  389  [0.8384029269218445, 0.8986200094223022, 0.316...
587  399  [0.7679456472396851, 0.358751118183136, 0.1068...
588  409  [0.49635612964630127, 1.1101375818252563, 0.42...
589  419  [0.6801066398620605, 0.743950605392456, 0.4217...
590  429  [1.1733911037445068, 0.3209216296672821, 0.415...
591  439  [0.6591441631317139, 0.0929320678114891, 0.108...
592  449  [0.9265276193618774, 0.8317834138870239, 0.619...
593  459  [0.7240465879440308, 0.5919132232666016, 0.806...
594  469  [1.17356538772583, 0.31971585750579834, 0.0118...
595  479  [0.6205777525901794, 0.33727148175239563, 0.91...
596  489  [0.8143035769462585, 0.6934776306152344, 0.624...
597  499  [0.22887559235095978, 1.5284496545791626, 0.28...
598  509  [1.0590720176696777, 0.910402774810791, 0.5853...
599  519  [0.6000244617462158, 0.8086502552032471, 0.164...
600  529  [0.934654951095581, 1.2617037296295166, 0.3092...
601  539  [0.8201051950454712, 0.598903477191925, 0.1197...
602  549  [0.3734767436981201, 0.12142283469438553, 0.28...
603  559  [0.7033118009567261, 0.8668755292892456, 0.887...
604  569  [0.002001266460865736, 1.4297512769699097, 1.0...
605  579  [0.08775936812162399, 0.5040042400360107, 0.01...
606  589  [0.1884678304195404, 0.43372729420661926, 0.32...
607  599  [0.7808083891868591, 0.16537092626094818, 1.11...
608  609  [0.3666189908981323, 0.7031487226486206, 0.280...
609  619  [0.3898286819458008, 0.5979577302932739, 0.926...

[610 rows x 2 columns]

In [166]:
user_factors_array = np.array(uf_df['features'].tolist())

In [167]:
item_factors_array = np.array(if_df['features'].tolist())

In [168]:
user_factors_array.shape

(1333, 10)

In [169]:
item_factors_array.shape

(610, 10)

In [212]:
def predict_rating(user_idx, item_idx):
    """Return the predicted rating of item by user (by iloc)."""
    user_vector = user_factors_array[user_idx, :]
    item_vector = item_factors_array[item_idx, :].T
    return user_vector @ item_vector

In [194]:
def predict_rating_by_id(user_id, item_id):
    """Return the predicted rating of item by user (by id)."""
    user_idx = uf_df.index[uf_df['id'] == user_id][0]
    item_idx = if_df.index[if_df['id'] == item_id][0]
    return predict_rating(user_idx, item_idx)

In [273]:
predict_rating_by_id(471, 59)

3.0635660223987617

In [214]:
predict_rating(1, 1)

2.4345992274025559

In [268]:
user_idx = uf_df.index[uf_df['id'] == 471][0]

In [275]:
item_idx = if_df.index[if_df['id'] == 59][0]
item_idx

554

In [284]:
item_factors_array[item_idx]

array([ 1.23193836,  0.71234483,  0.61380726,  0.92233211,  0.51926273,
        0.45161936,  0.33576125,  0.53609425,  0.82403857,  0.73079431])

In [276]:
pred_ratings = user_factors_array[user_idx, :] @ item_factors_array[554, :].T

In [292]:
def get_restaurant_indexes(user_ratings, item_factors_df):
    rest_idxs = []
    for item in user_ratings['item_id']:
        rest_idx = if_df.index[if_df['id']==item]
        rest_idxs.append(rest_idx[0])
    return np.array(rest_idxs)

In [290]:
rest_idxs = []
for item in user_ratings['item_id']:
    rest_idx = if_df.index[if_df['id']==item]
    rest_idxs.append(rest_idx[0])

In [407]:
#restaurant_indexes = get_restaurant_indexes(user_ratings, if_df)

In [298]:
item_factors_array[rest_idxs]

array([[ 1.23193836,  0.71234483,  0.61380726,  0.92233211,  0.51926273,
         0.45161936,  0.33576125,  0.53609425,  0.82403857,  0.73079431],
       [ 0.        ,  0.28147367,  0.16980056,  0.88922822,  0.61474133,
         0.48812598,  0.1549332 ,  1.27417862,  0.        ,  0.15003248],
       [ 0.0820099 ,  0.04795893,  0.47511753,  1.29407072,  0.40441439,
         0.        ,  0.2522462 ,  0.48730141,  0.35950863,  1.63152337],
       [ 0.25579077,  0.15570927,  0.20673585,  0.65579718,  1.62764156,
         0.89648533,  0.10383582,  0.18013598,  0.07533462,  0.18924707]])

### X is our new user's factors vector; use to generate a predicted ratings row for new user

In [299]:
X, residuals, rank, s = np.linalg.lstsq(item_factors_array[rest_idxs], ratings.values)

In [304]:
newuser_factors = X

In [309]:
def newuser_predict(newuser_factors, item_factors_array):
    new_factor_list =[]
    for i in range(len(item_factors_array)):
        new_factor_list.append(np.dot(newuser_factors, item_factors_array[i]))
    newuser_preds = pd.DataFrame([new_factor_list], index=['newuser'])
    return newuser_preds

In [310]:
example_new_user = newuser_predict(newuser_factors, item_factors_array)

In [412]:
example_new_user

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
newuser,3.46077,2.088271,2.507537,3.980024,3.439144,1.95337,1.691812,3.499493,3.142832,2.373336,...,1.849569,0.948866,0.777959,2.737736,3.142338,1.002532,3.11784,2.591083,2.572401,2.79683

### Now... get the actual restaurant names here and sort the predictions to get the top preds

In [350]:
inv_alias_dict = {v: k for k, v in alias_dict.items()}
inv_alias_dict

{0: 'amazon-go-seattle-5',
 1: 'the-pink-door-seattle-4',
 2: 'nirmals-seattle',
 3: 'biscuit-bitch-seattle-5',
 4: 'damn-the-weather-seattle',
 5: 'bad-bishop-seattle',
 6: 'pike-place-chowder-seattle',
 7: 'tsukushinbo-seattle',
 8: 'taylor-shellfish-oyster-bar-seattle-2',
 9: 'elliotts-oyster-house-seattle-2',
 10: 'dough-zone-dumpling-house-seattle-2',
 11: 'the-london-plane-seattle-3',
 12: 'a-hong-kong-kitchen-seattle',
 13: 'radiator-whiskey-seattle',
 14: 'sizzling-pot-king-seattle-2',
 15: 'one-pot-seattle-3',
 16: 'ummas-lunch-box-seattle',
 17: 'dead-line-seattle',
 18: 'tats-delicatessen-seattle',
 19: 'harbor-city-restaurant-seattle',
 20: 'shawn-o-donnells-american-grill-and-irish-pub-seattle-2',
 21: 'commissary-korean-kitchen-seattle',
 22: 'king-noodle-seattle',
 23: 'bibimbap-king-seattle',
 24: 'good-bar-seattle-3',
 25: 'casco-antiguo-seattle',
 26: 'tofully-seattle-2',
 27: 'brgr-bar-seattle-seattle',
 28: 'japonessa-sushi-cocina-seattle',
 29: 'metropolitan-grill-seattle',
 30: 'i5-pho-seattle-seattle-2',
 31: 'mikes-noodle-house-seattle',
 32: 'salumi-artisan-cured-meats-seattle-2',
 33: 'maneki-seattle',
 34: 'copal-seattle',
 35: 'tamarind-tree-seattle',
 36: 'the-hart-and-the-hunter-seattle-2',
 37: 'chucks-hole-in-the-wall-bbq-seattle',
 38: 'manus-bodega-seattle',
 39: 'biscuit-bitch-seattle',
 40: 'girin-korean-ssam-bar-seattle',
 41: 'chan-seattle-seattle-2',
 42: 'heartwood-provisions-seattle-3',
 43: 'café-paloma-seattle-2',
 44: 'sprout-seattle',
 45: 'ironsteak-seattle',
 46: 'piroshky-piroshky-seattle',
 47: 'altstadt-seattle-2',
 48: 'red-bowls-seattle',
 49: 'mados-seattle-2',
 50: 'nates-wings-and-waffles-seattle',
 51: 'lecōsho-seattle-2',
 52: 'intermezzo-carmine-seattle-2',
 53: 'green-leaf-vietnamese-restaurant-seattle',
 54: 'bibimbap-seattle',
 55: 'kau-kau-barbeque-seattle',
 56: 'red-lantern-seattle',
 57: 'gourmet-noodle-bowl-seattle',
 58: 'the-fig-and-the-judge-seattle-2',
 59: 'boiling-point-seattle',
 60: 'bao-house-seattle-5',
 61: 'mccoys-firehouse-seattle',
 62: 'where-ya-at-matt-seattle',
 63: 'pho-bac-súp-shop-seattle-6',
 64: 'gopoké-seattle-5',
 65: 'cortina-seattle-3',
 66: 'che-sara-sara-seattle',
 67: 'il-terrazzo-carmine-seattle',
 68: 'smith-tower-observatory-bar-seattle-2',
 69: 'sichuanese-cuisine-seattle',
 70: 'little-neon-taco-seattle-3',
 71: 'red-cedar-and-sage-seattle',
 72: 'noi-thai-cuisine-seattle-3',
 73: 'congeez-seattle',
 74: 'the-crab-pot-seattle-2',
 75: 'musashis-seattle-3',
 76: 'purple-café-and-wine-bar-seattle-3',
 77: 'seoul-bowl-seattle',
 78: 'din-tai-fung-seattle-14',
 79: 'zig-zag-cafe-seattle-2',
 80: 'dong-thap-noodles-seattle',
 81: 'sweet-iron-waffles-seattle-5',
 82: 'ludis-seattle',
 83: 'zócalo-seattle-4',
 84: 'ivars-fish-bar-seattle-7',
 85: 'delicatus-seattle-3',
 86: 'the-berliner-döner-kebab-seattle-3',
 87: 'shaker-and-spear-seattle-2',
 88: 'pho-ba-seattle-4',
 89: 'dynasty-room-seattle-5',
 90: 'outlier-seattle',
 91: 'taste-of-the-caribbean-seattle-2',
 92: 'pacific-cafe-hong-kong-kitchen-seattle-2',
 93: 'ivars-acres-of-clams-seattle-7',
 94: 'lan-huê-sandwich-and-bakery-seattle',
 95: 'vons-1000-spirits-seattle-4',
 96: 'piroshky-piroshky-seattle-5',
 97: 'hot-pot-king-seattle-3',
 98: 'aburiya-bento-house-seattle-2',
 99: 'sushi-kashiba-seattle',
 100: 'spin-seattle-seattle',
 101: 'the-brooklyn-seafood-steak-and-oyster-house-seattle',
 102: 'canton-wonton-house-seattle',
 103: 'pike-place-chowder-seattle-4',
 104: 'piroshki-on-3rd-seattle-2',
 105: 'the-peoples-burger-seattle',
 106: 'market-grill-seattle',
 107: 'peloton-seattle',
 108: 'main-street-gyros-seattle-2',
 109: 'elysian-fields-seattle',
 110: 'italian-family-pizza-seattle',
 111: 'hot-as-pho-seattle-2',
 112: 'cheese-meats-bread-seattle-2',
 113: 'patagon-seattle-2',
 114: 'sky-view-cafe-seattle',
 115: 'luigis-italian-eatery-seattle-2',
 116: 'thai-curry-simple-seattle-5',
 117: 'triangle-pub-seattle',
 118: 'planet-java-diner-seattle-2',
 119: 'szechuan-noodle-bowl-seattle',
 120: '206-burger-company-seattle',
 121: 'daawat-grill-seattle-2',
 122: 'james-moore-bar-and-kitchen-seattle',
 123: 'manus-tacos-seattle',
 124: 'poke-alice-seattle',
 125: 'song-phang-kong-seattle',
 126: 'ba-bar-seattle',
 127: 'jade-garden-seattle',
 128: 'shuckers-oyster-bar-seattle',
 129: 'the-little-london-plane-seattle-2',
 130: 'homegrown-seattle-5',
 131: 'stella-fiore-wood-fired-pizza-seattle-3',
 132: 'h-bistro-seattle-5',
 133: 'quality-athletics-seattle',
 134: 'fog-room-seattle',
 135: 'little-sheep-mongolian-hot-pot-seattle-2',
 136: 'fuji-sushi-seattle',
 137: 'long-provincial-vietnamese-seattle',
 138: 'sake-nomi-seattle',
 139: 'the-capital-grille-seattle',
 140: 'beechers-handmade-cheese-seattle',
 141: 'zaccagnis-seattle-2',
 142: 'way-back-crab-shack-seattle',
 143: 'loulay-kitchen-and-bar-seattle',
 144: 'hue-ky-mi-gia-seattle',
 145: 'alaskan-sourdough-bakery-seattle',
 146: 'paseo-caribbean-food-seattle-8',
 147: 'julies-garden-seattle',
 148: 'bun-and-oc-seattle-4',
 149: 'tulio-seattle',
 150: 'habitant-seattle-3',
 151: 'pokéworks-seattle',
 152: 'hong-kong-bistro-seattle',
 153: 'sushi-kanpai-seattle',
 154: 'itty-bitty-schnitty-seattle',
 155: 'el-borracho-seattle',
 156: 'chuminh-tofu-and-vegan-deli-seattle',
 157: 'piroshki-on-madison-seattle',
 158: 'seattle-art-museum-seattle',
 159: 'mels-market-seattle',
 160: 'cherry-street-public-house-seattle',
 161: 'old-stove-brewing-seattle-3',
 162: 'vitos-seattle',
 163: 'dim-sum-king-seattle',
 164: 'georges-sausage-and-delicatessen-seattle',
 165: 'jarrbar-seattle',
 166: 'joy-bento-seattle',
 167: 'ton-kiang-barbeque-noodle-house-seattle',
 168: 'flame-cafe-seattle',
 169: 'sharetea-seattle-5',
 170: 'the-fishermans-restaurant-seattle',
 171: 'rn74-seattle',
 172: 'kigo-kitchen-seattle-6',
 173: 'okinawa-teriyaki-seattle',
 174: 'the-rhododendron-cafe-seattle',
 175: 'pikes-pit-bar-b-que-seattle',
 176: 'the-crumpet-shop-seattle',
 177: 'el-camión-seattle-6',
 178: 'hamanasu-seattle',
 179: '13-coins-restaurant-seattle-3',
 180: 'pike-brewing-company-seattle',
 181: 'deli-cut-subs-seattle',
 182: 'ten-sushi-35-seattle-2',
 183: 'piroshky-piroshky-seattle-8',
 184: 'cutters-crabhouse-seattle',
 185: 'café-campagne-seattle-3',
 186: 'papa-bois-seattle',
 187: 'premier-meat-pies-seattle-2',
 188: 'pings-dumpling-house-seattle',
 189: 'sugar-bakery-and-cafe-seattle-3',
 190: 'rider-seattle',
 191: 'henrys-tavern-seattle-seattle',
 192: 'spring-roll-house-deli-seattle',
 193: 'country-dough-seattle',
 194: 'shilla-korean-bbq-seattle',
 195: 'matts-in-the-market-seattle',
 196: 'caffè-umbria-seattle-3',
 197: 'cocoa-banana-seattle',
 198: 'nijo-sushi-bar-and-grill-seattle',
 199: 'the-juicy-café-seattle-5',
 200: 'le-panier-french-bakery-seattle',
 201: 'cafe-hitchcock-seattle-2',
 202: 'café-frieda-seattle-3',
 203: 'belle-epicurean-seattle-5',
 204: 'samurai-noodle-seattle',
 205: 'pho-so-1-seattle',
 206: 'saigon-deli-seattle',
 207: 'georgian-restaurant-seattle',
 208: 'the-taproom-at-pike-place-seattle',
 209: 'zeitgeist-coffee-seattle',
 210: 'the-original-deli-seattle-4',
 211: 'columbia-center-food-court-seattle',
 212: 'evergreens-salad-seattle-15',
 213: 'mediterranean-mix-seattle',
 214: 'le-pichet-seattle',
 215: 'gyro-stop-mediterranean-grill-seattle',
 216: 'eastern-cafe-seattle',
 217: 'crawfish-king-seattle-2',
 218: 'saba-ethiopian-cuisine-seattle',
 219: 'happy-grillmore-seattle',
 220: 'revolution-pizza-and-music-seattle',
 221: 'secret-sausage-seattle',
 222: 'tankard-and-tun-seattle-2',
 223: 'hardwok-cafe-seattle',
 224: 'tam-noodle-box-seattle',
 225: 'moore-coffee-shop-seattle',
 226: 'michou-seattle',
 227: 'sansei-seafood-restaurant-and-sushi-bar-seattle-3',
 228: 'miss-cafe-seattle-3',
 229: 'ferry-noodle-house-seattle-3',
 230: 'tap-house-grill-seattle-3',
 231: 'harborview-medical-center-maleng-café-seattle',
 232: 'mod-pizza-seattle-7',
 233: 'place-pigalle-seattle',
 234: 'pizza-pro-seattle',
 235: 'post-alley-pizza-seattle',
 236: 'szechuan-fish-seattle',
 237: 'humble-pie-seattle',
 238: 'sarduccis-specialty-subs-seattle',
 239: 'fado-irish-pub-seattle-3',
 240: 'all-water-seafood-and-oyster-bar-seattle-2',
 241: 'joyale-seafood-restaurant-seattle-2',
 242: 'honey-court-seafood-restaurant-seattle-2',
 243: 'grilled-cheese-experience-seattle',
 244: 'juno-seattle',
 245: 'pinks-ice-cream-seattle',
 246: 'collins-pub-seattle',
 247: 'scout-seattle',
 248: 'seoul-tofu-house-seattle',
 249: 'wild-fish-poke-seattle',
 250: 'kaname-izakaya-seattle',
 251: 'steak-n-shake-seattle',
 252: 'lowells-restaurant-seattle',
 253: 'great-state-burger-seattle-3',
 254: 'fonte-café-seattle',
 255: 'retro-restaurant-and-lounge-seattle',
 256: 'cherry-street-coffee-house-seattle',
 257: 'twice-burger-seattle-3',
 258: 'cedars-restaurant-capitol-hill-seattle',
 259: 'delinomore-seattle',
 260: 'yoshino-teriyaki-seattle',
 261: 'y-and-a-cafe-seattle',
 262: 'i-heart-sushi-seattle',
 263: 'veggie-grill-seattle-6',
 264: 'convoy-coffee-seattle',
 265: 'sprigy-seattle-2',
 266: 'market-fresh-rs-seattle-2',
 267: 'hooverville-bar-seattle',
 268: 'jiaozi-dumplings-house-seattle-2',
 269: 'fort-st-george-seattle',
 270: 'taco-del-mar-seattle-42',
 271: 'yard-house-seattle',
 272: 'steelhead-diner-seattle',
 273: 'pizza-and-pasta-bar-seattle-2',
 274: 'naansense-seattle',
 275: 'grand-central-bakery-seattle-5',
 276: 'aloha-plates-seattle',
 277: 'asia-ginger-teriyaki-seattle',
 278: 'trace-seattle',
 279: 'la-creperie-voila-seattle-4',
 280: 'hilltop-deli-seattle',
 281: 'cafe-zum-zum-seattle',
 282: 'slice-box-pizza-seattle',
 283: 'turkish-delight-seattle',
 284: 'sluggers-seattle-seattle',
 285: 'tai-tung-chinese-restaurant-seattle',
 286: 'henrys-taiwan-plus-seattle',
 287: 'wild-ginger-seattle',
 288: 'mi-la-cay-seattle',
 289: 'tossd-seattle',
 290: 'jacks-fish-spot-seattle',
 291: 'sushi-kudasai-seattle-2',
 292: 'can-can-seattle',
 293: 'crepe-de-france-seattle',
 294: 'north-shore-hawaiian-barbeque-seattle',
 295: 'the-cheesecake-factory-seattle',
 296: 'ettas-seattle-2',
 297: 'palomino-seattle',
 298: 'harbor-café-seattle-2',
 299: 'banh-cuon-tan-dinh-deli-seattle',
 300: 'swingin-wings-with-chef-ethan-stowell-seattle',
 301: 'sushi-kudasai-seattle',
 302: 'core-bistro-seattle',
 303: 'bookstore-bar-and-cafe-seattle-6',
 304: 'the-juicy-café-seattle',
 305: 'walla-walla-farms-seattle',
 306: 'taqueria-el-ranchero-seattle',
 307: 'blazing-bagels-seattle-2',
 308: 'andaluca-seattle-2',
 309: 'ulis-famous-sausage-seattle',
 310: 'central-smoke-seattle',
 311: 'alibi-room-seattle',
 312: 'daily-dozen-doughnut-seattle',
 313: 'huong-binh-seattle',
 314: 'ho-ho-seafood-restaurant-seattle',
 315: 'kigo-kitchen-seattle-2',
 316: 'olivers-lounge-seattle',
 317: 'bavarian-meats-seattle',
 318: 'purple-dot-cafe-seattle-2',
 319: 'los-agaves-seattle-4',
 320: 'poké-bar-seattle-9',
 321: 'hawks-nest-seattle',
 322: 'bacco-cafe-and-bistro-seattle-2',
 323: 'dunbar-room-seattle',
 324: 'delicatus-seattle-2',
 325: 'mariscos-mexico-seattle',
 326: 'delaurenti-food-and-wine-seattle-2',
 327: 'harborview-medical-center-cafeteria-seattle',
 328: '206-burger-company-seattle-2',
 329: 'dog-in-the-park-seattle',
 330: 'evergreens-salad-seattle-4',
 331: 'pita-xpress-seattle-4',
 332: 'frolik-kitchen-cocktails-seattle-2',
 333: 'the-diller-room-seattle',
 334: 'the-bistro-at-courtyard-seattle',
 335: 'urara-seattle-2',
 336: '90-karaoke-seattle-2',
 337: 'cafe-pho-seattle',
 338: 'mee-sum-pastry-seattle',
 339: 'seattle-deli-seattle',
 340: 'blarney-stone-pub-and-restaurant-seattle',
 341: 'fuel-seattle-2',
 342: 'owln-thistle-irish-pub-seattle',
 343: 'il-bistro-seattle',
 344: 'joes-grilled-gourmet-dogs-seattle',
 345: 'nyc-deli-market-seattle-2',
 346: 'thai-taste-restaurant-seattle',
 347: 'the-lodge-sports-grille-downtown-seattle',
 348: 'fortune-garden-seattle',
 349: '4th-ave-espresso-bar-seattle-3',
 350: 'oriental-mart-seattle-5',
 351: 'thanh-son-tofu-seattle-3',
 352: 'jimmys-on-first-seattle',
 353: 'walla-walla-farms-seattle-3',
 354: 'cone-and-steiner-seattle-5',
 355: 'world-fresh-eatery-seattle',
 356: 'vietnam-house-seattle',
 357: 'duk-li-dim-sum-seattle',
 358: 'pho-hoa-noodle-soup-seattle-2',
 359: 'tenoch-mexican-grill-seattle',
 360: 'loving-hut-seattle',
 361: 'spring-thyme-bakeshop-seattle',
 362: 'kigo-kitchen-seattle-3',
 363: 'pho-saigon-seattle-2',
 364: 'great-state-burger-seattle-6',
 365: 'red-robin-gourmet-burgers-seattle-7',
 366: 'union-square-seattle',
 367: 'potbelly-sandwich-shop-seattle-8',
 368: 'incredibowls-seattle-2',
 369: 'ruths-chris-steak-house-seattle',
 370: 'rays-deli-seattle',
 371: 'mae-phim-thai-seattle-3',
 372: 'shanghai-garden-seattle-4',
 373: 'harried-and-hungry-seattle-2',
 374: 'farvahar-persian-cafe-seattle',
 375: 'the-triple-door-seattle',
 376: 'miners-landing-seattle',
 377: 'world-pizza-seattle',
 378: 'thai-star-restaurant-seattle',
 379: 'evergreens-salad-seattle-2',
 380: 'nordstrom-grill-seattle-2',
 381: 'sun-bakery-and-cafe-seattle',
 382: 'gyro-house-seattle',
 383: 'j-and-m-cafe-seattle-3',
 384: 'saigon-vietnam-deli-seattle',
 385: 'specialtys-café-and-bakery-seattle-35',
 386: 'the-central-saloon-seattle',
 387: 'maxang-deli-and-cafe-seattle',
 388: 'voxx-coffee-downtown-seattle-2',
 389: 'merchants-cafe-and-saloon-seattle',
 390: 'einstein-bros-bagels-seattle-3',
 391: 'the-lodge-sports-grille-seattle',
 392: 'goldfinch-tavern-seattle',
 393: 'jasmines-grill-and-bar-seattle-3',
 394: 'chicken-valley-seattle',
 395: 'moore-coffee-seattle-2',
 396: 'kidd-valley-seattle-6',
 397: 'tats-truck-seattle',
 398: 'off-the-rez-seattle',
 399: 'mae-phim-thai-seattle-4',
 400: 'elephant-and-castle-seattle',
 401: 'the-organic-coup-seattle',
 402: 'great-state-burger-seattle-5',
 403: 'market-fresh-seattle-6',
 404: 'potbelly-sandwich-shop-seattle-4',
 405: 'metropolitan-deli-and-cafe-seattle-5',
 406: 'little-italy-seattle-seattle',
 407: 'evergreens-salad-seattle-12',
 408: 'seatown-seabar-seattle',
 409: 'thai-2-go-seattle-3',
 410: 'falafel-king-seattle',
 411: 'pike-grocery-seattle',
 412: 'regatta-bar-and-grille-seattle',
 413: 'kings-barbeque-house-seattle-2',
 414: 'box-house-seattle-3',
 415: 'pings-food-market-seattle',
 416: 'sound-soups-seattle',
 417: 'specialtys-café-and-bakery-seattle-34',
 418: 'piroshky-piroshky-seattle-7',
 419: 'contour-seattle',
 420: 'blue-water-taco-grill-seattle-12',
 421: 'new-star-seafood-restaurant-seattle',
 422: 't-js-deli-seattle',
 423: 'ocean-star-seattle',
 424: 'napkin-friends-seattle',
 425: 'specialtys-café-and-bakery-seattle-30',
 426: 'cherry-street-coffee-house-seattle-4',
 427: 'potbelly-sandwich-shop-seattle-3',
 428: 'rview-seattle',
 429: 'thanh-vi-seattle',
 430: 'muse-at-benaroya-hall-seattle',
 431: 'the-515-seattle-3',
 432: 'the-frankfurter-seattle-2',
 433: 'buffalo-wild-wings-seattle-2',
 434: 'ghost-alley-espresso-seattle',
 435: 'mr-ds-greek-delicacies-seattle',
 436: 'king-street-bar-and-oven-seattle',
 437: 'bebas-and-amigos-seattle',
 438: 'seven-stars-pepper-szechuan-restaurant-seattle',
 439: 'doc-maynards-public-house-seattle',
 440: 'cafe-yumm-seattle-2',
 441: 'house-of-hong-restaurant-seattle',
 442: 'jimmy-johns-seattle-18',
 443: 'ibajellas-ice-cream-cane-seattle-2',
 444: 'the-peak-cafe-seattle',
 445: 'a-pizza-mart-seattle-14',
 446: 'rub-with-love-shack-seattle',
 447: 'specialtys-café-and-bakery-seattle-31',
 448: 'the-athenian-seafood-restaurant-and-bar-seattle-2',
 449: 'la-vaca-burrito-express-seattle',
 450: 'grounders-world-famous-garlic-fries-seattle',
 451: 'marination-mobile-seattle-5',
 452: 'cafe-nordstrom-seattle-5',
 453: 'kastoori-grill-seattle',
 454: 'specialtys-café-and-bakery-seattle-32',
 455: 'pane-pane-sandwiches-seattle',
 456: 'thai-ginger-pacific-place-seattle',
 457: 'blue-water-taco-grill-seattle-3',
 458: 'maximilien-seattle',
 459: 'primo-seattle',
 460: 'melange-market-seattle',
 461: 'new-saigon-vietnamese-restaurant-ii-seattle',
 462: 'mustard-seed-cafe-seattle',
 463: 'sushi-kudasai-seattle-3',
 464: 'chipotle-mexican-grill-seattle-8',
 465: 'p-f-changs-seattle',
 466: 'bernards-on-seneca-seattle',
 467: 'smith-tower-provisions-seattle-2',
 468: 'taco-del-mar-seattle-19',
 469: 'market-diner-seattle',
 470: 'davids-and-co-seattle',
 471: 'saigon-bistro-seattle-2',
 472: 'pho-25-seattle',
 473: '663-bistro-seattle',
 474: 'il-fornaio-seattle',
 475: 'world-fresh-asian-eatery-seattle',
 476: 'torchys-restaurant-bar-and-den-seattle',
 477: 'king-deli-and-espresso-seattle',
 478: 'liana-cafe-house-seattle',
 479: 'king-street-kafe-seattle',
 480: 'chew-chews-and-eatery-seattle',
 481: 'copacabana-cafe-seattle',
 482: 'cinnamon-works-seattle',
 483: 'hans-deli-and-grocery-seattle',
 484: 'sonyas-bar-and-grill-and-event-space-seattle',
 485: 'redtrees-restaurant-bar-seattle',
 486: 'seattle-aquarium-cafe-seattle',
 487: 'daily-grill-seattle',
 488: 'moghul-express-seattle',
 489: 'rolls-n-sushi-seattle',
 490: 'dragonfish-asian-cafe-seattle',
 491: 'mangia-me-seattle-2',
 492: 'gordon-biersch-brewery-restaurant-seattle',
 493: 'cherry-street-coffee-house-seattle-10',
 494: 'market-cafe-seattle-3',
 495: 'emmett-watsons-oyster-bar-seattle',
 496: 'elemental-pizza-seattle-3',
 497: 'kells-irish-restaurant-and-pub-seattle',
 498: 'blue-c-sushi-seattle-3',
 499: 'poke-lover-seattle-10',
 500: 'tandoozy-seattle',
 501: 'jimmy-johns-seattle-10',
 502: 'jimmy-johns-seattle-11',
 503: 'genghis-khan-restaurant-seattle',
 504: 'gyro-express-seattle-2',
 505: 'swannies-seattle',
 506: 'atlantic-street-pizza-slices-seattle',
 507: 'campfire-bbq-seattle-7',
 508: 'zobel-seattle',
 509: 'honest-biscuits-seattle',
 510: 'blue-nile-seattle-2',
 511: 'mercato-stellina-seattle-2',
 512: 'jimmy-johns-seattle-3',
 513: 'thai-place-seattle',
 514: 'taste-cafe-seattle-3',
 515: 'cafe-5ive-seattle',
 516: 'soups-du-jour-seattle',
 517: 'seattle-bagel-bakery-seattle-5',
 518: 'bowls-and-noodles-seattle',
 519: 'wildfire-taqueria-seattle',
 520: 'third-ave-cafe-seattle',
 521: 'pike-place-bar-and-grill-seattle',
 522: 'saffron-spice-seattle',
 523: 'commuter-comforts-cafe-and-wine-bar-seattle',
 524: 'hard-rock-cafe-seattle-6',
 525: 'asian-express-seattle',
 526: 'umai-sushi-and-teriyaki-seattle',
 527: 'deez-dogz-seattle',
 528: 'j-sushi-seattle',
 529: 'bebas-deli-seattle-2',
 530: 'king-dome-deli-seattle',
 531: 'city-soups-seattle-2',
 532: 'edgars-cantina-seattle',
 533: 'madhu-cuisine-of-india-seattle-4',
 534: 'basil-box-seattle',
 535: 'fresh-table-cafe-seattle-4',
 536: 'vovito-seattle',
 537: 'mcdonalds-seattle-27',
 538: 'subway-seattle-28',
 539: '4th-avenue-caffe-seattle-2',
 540: 'justus-cafe-seattle',
 541: 'west-edge-market-seattle',
 542: 'virginia-inn-seattle',
 543: 'marvs-famous-hot-dogs-seattle',
 544: 'taco-del-mar-seattle-15',
 545: 'chip-and-drews-seattle',
 546: 'qdoba-mexican-eats-seattle-7',
 547: 'wild-rye-cafe-bakery-seattle',
 548: 'happy-teriyaki-seattle-2',
 549: 'subway-seattle-64',
 550: 'blue-water-taco-grill-seattle-9',
 551: 'marion-court-food-court-seattle',
 552: 'herbs-thai-to-go-seattle',
 553: 'the-salmon-cooker-seattle',
 554: 'happy-garden-seattle-3',
 555: 'cherry-street-coffee-house-seattle-11',
 556: 'il-corvo-pasta-seattle',
 557: 'macrina-bakery-and-cafe-seattle-3',
 558: 'jelly-bar-seattle-2',
 559: 'mad-pizza-seattle-4',
 560: 'hit-it-here-cafe-and-bar-seattle',
 561: 'the-dinner-detective-interactive-murder-mystery-dinner-show-seattle',
 562: 'pike-place-chinese-cuisine-seattle',
 563: 'cantina-de-san-patricio-seattle',
 564: 'asia-bar-b-que-seattle',
 565: 'soups-on-seattle-2',
 566: 'noodle-zen-seattle',
 567: 'jack-in-the-box-seattle-5',
 568: 'fiesta-fiesta-seattle',
 569: 'thai-ginger-seattle-5',
 570: 'taxi-dogs-seattle',
 571: 'apizza-seattle-3',
 572: 'the-natural-seattle',
 573: 'taste-of-asia-seattle-2',
 574: 'jasmine-thai-cuisine-seattle',
 575: 'din-tai-fung-seattle-17',

In [326]:
example_new_user_rest_names = example_new_user.rename(inv_alias_dict, axis=1)

In [330]:
example_new_user_rest_names.sort_values(by='newuser', axis=1, ascending=False)

,cherry-street-coffee-house-seattle-4,pho-saigon-seattle-2,la-creperie-voila-seattle-4,pho-ba-seattle-4,michou-seattle,altstadt-seattle-2,vons-1000-spirits-seattle-4,hong-kong-bistro-seattle,ivars-fish-bar-seattle-7,daily-dozen-doughnut-seattle,...,kings-barbeque-house-seattle-2,fortune-garden-seattle,tankard-and-tun-seattle-2,sound-soups-seattle,663-bistro-seattle,tap-house-grill-seattle-3,swannies-seattle,duk-li-dim-sum-seattle,qdoba-mexican-eats-seattle-7,i5-pho-seattle-seattle-2
newuser,5.962313,5.502468,5.367999,5.264682,5.0,4.741882,4.706773,4.669477,4.578557,4.567503,...,0.718246,0.707589,0.689746,0.589801,0.484221,0.406016,0.35505,0.247409,0.226909,0.197449

## Ok... so now try to use this with actual survey results

In [222]:
from survey_results import survey_results, usernames

In [339]:
gabe = survey_results[0]

In [340]:
gabe

{'café-campagne-seattle-3': 7,
 'chan-seattle-seattle-2': 8,
 'daawat-grill-seattle-2': 8,
 'el-borracho-seattle': 8,
 'gopoké-seattle-5': 6,
 'harbor-city-restaurant-seattle': 8,
 'japonessa-sushi-cocina-seattle': 9,
 'metropolitan-grill-seattle': 6,
 'mikes-noodle-house-seattle': 4,
 'mod-pizza-seattle-7': 8,
 'purple-café-and-wine-bar-seattle-3': 6,
 'red-robin-gourmet-burgers-seattle-7': 7,
 'specialtys-café-and-bakery-seattle-34': 7,
 'tamarind-tree-seattle': 7,
 'the-pink-door-seattle-4': 3,
 'vons-1000-spirits-seattle-4': 4,
 'wild-ginger-seattle': 8,
 'zig-zag-cafe-seattle-2': 4}

In [345]:
#divide ratings by two to put on the same scale
#convert aliases -> ids -> indexes for those ids
#find the item feature vectors for each of those restaurants by indexing into the item_factors_array
#make a "user ratings df" with the user, restaurant ids, and ratings

In [353]:
#divide ratings by two to put on the same scale
gabe_standardized = {k: v / 2 for k, v in gabe.items()}
gabe_standardized

{'café-campagne-seattle-3': 3.5,
 'chan-seattle-seattle-2': 4.0,
 'daawat-grill-seattle-2': 4.0,
 'el-borracho-seattle': 4.0,
 'gopoké-seattle-5': 3.0,
 'harbor-city-restaurant-seattle': 4.0,
 'japonessa-sushi-cocina-seattle': 4.5,
 'metropolitan-grill-seattle': 3.0,
 'mikes-noodle-house-seattle': 2.0,
 'mod-pizza-seattle-7': 4.0,
 'purple-café-and-wine-bar-seattle-3': 3.0,
 'red-robin-gourmet-burgers-seattle-7': 3.5,
 'specialtys-café-and-bakery-seattle-34': 3.5,
 'tamarind-tree-seattle': 3.5,
 'the-pink-door-seattle-4': 1.5,
 'vons-1000-spirits-seattle-4': 2.0,
 'wild-ginger-seattle': 4.0,
 'zig-zag-cafe-seattle-2': 2.0}

In [440]:
#inv_alias_dict

In [441]:
#convert aliases -> ids -> indexes for those ids
id_to_rating = {k: gabe_standardized[v] for k, v in inv_alias_dict.items() if v in gabe_standardized}

In [390]:
user_ratings_df = pd.DataFrame.from_dict(id_to_rating, orient='index')

In [398]:
user_ratings_df.reset_index(inplace=True)

In [508]:
user_ratings_df.rename(columns={'index':'item_id', 0:'rating'}, inplace=True)

In [418]:
survey_ratings = user_ratings_df['rating'].values.reshape(-1, 1)

In [422]:
survey_ratings_notreshaped = user_ratings_df['rating'].values

In [408]:
rest_idx = get_restaurant_indexes(user_ratings_df, if_df)

In [411]:
latent_item_features = item_factors_array[rest_idx]

In [423]:
X, residuals, rank, s = np.linalg.lstsq(latent_item_features, survey_ratings_notreshaped)

In [424]:
X

array([ 0.57038828, -0.03746423,  0.91142951,  1.27560665, -0.6011417 ,
        1.71059839, -0.21787959,  0.70794957,  0.07537956,  0.54031314])

In [429]:
gabes_preds = newuser_predict(X, item_factors_array)

In [431]:
gabes_preds

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
newuser,3.915918,4.202314,2.205367,1.393903,2.968143,4.604808,1.489047,4.889152,4.967544,2.763279,...,3.466685,2.12971,4.106549,3.668647,2.643615,0.663643,3.093345,3.942243,2.26567,3.263689

In [437]:
gabe_sorted_preds = gabes_preds.sort_values(by='newuser', axis=1, ascending=False).rename(inv_alias_dict, axis=1)

In [439]:
list(gabe_sorted_preds.columns)

['goldfinch-tavern-seattle',
 'cherry-street-coffee-house-seattle-4',
 'mi-la-cay-seattle',
 'retro-restaurant-and-lounge-seattle',
 'liana-cafe-house-seattle',
 'red-robin-gourmet-burgers-seattle-7',
 'the-taproom-at-pike-place-seattle',
 'buffalo-wild-wings-seattle-2',
 'blue-c-sushi-seattle-3',
 'taylor-shellfish-oyster-bar-seattle-2',
 'steelhead-diner-seattle',
 'la-vaca-burrito-express-seattle',
 'revolution-pizza-and-music-seattle',
 'great-state-burger-seattle-6',
 'oriental-mart-seattle-5',
 'tsukushinbo-seattle',
 'tandoozy-seattle',
 'taco-del-mar-seattle-15',
 'miners-landing-seattle',
 'the-little-london-plane-seattle-2',
 '4th-ave-espresso-bar-seattle-3',
 'frolik-kitchen-cocktails-seattle-2',
 'noodle-zen-seattle',
 'the-central-saloon-seattle',
 'the-bistro-at-courtyard-seattle',
 'unconventional-pizza-seattle',
 'jimmy-johns-seattle-8',
 'tats-truck-seattle',
 'blue-water-taco-grill-seattle-12',
 'stella-fiore-wood-fired-pizza-seattle-3',
 'king-street-kafe-seattle',
 'mee-sum-pastry-seattle',
 'the-lodge-sports-grille-downtown-seattle',
 'asia-bar-b-que-seattle',
 'rn74-seattle',
 'shucky-muckers-seattle',
 'commuter-comforts-cafe-and-wine-bar-seattle',
 'bad-bishop-seattle',
 'red-cedar-and-sage-seattle',
 'sky-view-cafe-seattle',
 'country-dough-seattle',
 'los-agaves-seattle-4',
 'purple-café-and-wine-bar-seattle-3',
 'il-terrazzo-carmine-seattle',
 'jimmy-johns-seattle-10',
 'chew-chews-and-eatery-seattle',
 'pings-dumpling-house-seattle',
 'radiator-whiskey-seattle',
 'mikes-noodle-house-seattle',
 'little-italy-seattle-seattle',
 'the-organic-coup-seattle',
 'einstein-bros-bagels-seattle-3',
 'zobel-seattle',
 'harbor-city-restaurant-seattle',
 'subway-seattle-59',
 'cocoa-banana-seattle',
 'can-can-seattle',
 'merchants-cafe-and-saloon-seattle',
 'central-smoke-seattle',
 'subway-seattle-28',
 'tam-noodle-box-seattle',
 'asian-express-seattle',
 'thanh-son-tofu-seattle-3',
 'asia-ginger-teriyaki-seattle',
 'bun-and-oc-seattle-4',
 'kaname-izakaya-seattle',
 'cherry-street-public-house-seattle',
 'zaccagnis-seattle-2',
 'ivars-fish-bar-seattle-7',
 'evergreens-salad-seattle-12',
 'pho-25-seattle',
 'che-sara-sara-seattle',
 'spring-roll-house-deli-seattle',
 'heartwood-provisions-seattle-3',
 'ibajellas-ice-cream-cane-seattle-2',
 '90-karaoke-seattle-2',
 'miss-cafe-seattle-3',
 'dough-zone-dumpling-house-seattle-2',
 'luigis-little-italy-tour-seattle',
 'mae-phim-thai-seattle-4',
 'torchys-restaurant-bar-and-den-seattle',
 'delicatus-seattle-3',
 'harborview-medical-center-maleng-café-seattle',
 'steak-n-shake-seattle',
 'emmett-watsons-oyster-bar-seattle',
 'hue-ky-mi-gia-seattle',
 'premier-meat-pies-seattle-2',
 'poke-lover-seattle-10',
 'chocolate-and-ice-cream-delight-seattle',
 'loulay-kitchen-and-bar-seattle',
 'market-fresh-seattle-6',
 'the-salmon-cooker-seattle',
 'bavarian-meats-seattle',
 'world-pizza-seattle',
 'saigon-vietnam-deli-seattle',
 'specialtys-café-and-bakery-seattle-30',
 'jimmy-johns-seattle-3',
 'harried-and-hungry-seattle-2',
 'wildfire-taqueria-seattle',
 'café-campagne-seattle-3',
 'pho-bac-súp-shop-seattle-6',
 'papa-bois-seattle',
 'sizzling-pot-king-seattle-2',
 'taco-del-mar-seattle-19',
 'the-pink-door-seattle-4',
 'spin-seattle-seattle',
 'daily-dozen-doughnut-seattle',
 'contour-seattle',
 'market-cafe-seattle-3',
 'moghul-express-seattle',
 'chuminh-tofu-and-vegan-deli-seattle',
 'the-juicy-café-seattle',
 'specialtys-café-and-bakery-seattle-35',
 'ghost-alley-espresso-seattle',
 'wild-fish-poke-seattle',
 'virginia-inn-seattle',
 'alibi-room-seattle',
 'p-f-changs-seattle',
 'market-fresh-seattle',
 '206-burger-company-seattle-2',
 'swingin-wings-with-chef-ethan-stowell-seattle',
 'jasmines-grill-and-bar-seattle-3',
 'pike-place-chowder-seattle-4',
 'la-creperie-voila-seattle-4',
 'thai-ginger-seattle-5',
 'chipotle-mexican-grill-seattle-8',
 'bebas-and-amigos-seattle',
 'matts-in-the-market-seattle',
 'beechers-handmade-cheese-seattle',
 'hit-it-here-cafe-and-bar-seattle',
 'subway-seattle-34',
 'blue-nile-seattle-2',
 'pike-place-bar-and-grill-seattle',
 'ruths-chris-steak-house-seattle',
 'hot-pot-king-seattle-3',
 'taste-cafe-seattle-3',
 'subway-seattle-91',
 'chan-seattle-seattle-2',
 'salumi-artisan-cured-meats-seattle-2',
 'herbs-thai-to-go-seattle',
 'ocean-star-seattle',
 'rays-deli-seattle',
 'poké-bar-seattle-9',
 'edgars-cantina-seattle',
 'vons-1000-spirits-seattle-4',
 '1st-floor-cafe-seattle',
 'seoul-tofu-house-seattle',
 'mustard-seed-cafe-seattle',
 'hong-kong-bistro-seattle',
 'mangia-me-seattle-2',
 'quiznos-seattle-23',
 'amazon-go-seattle-5',
 'thanh-vi-seattle',
 'piroshky-piroshky-seattle-7',
 'fortune-garden-seattle',
 'gyro-house-seattle',
 'daily-grill-seattle',
 'sound-view-cafe-seattle',
 'ho-ho-seafood-restaurant-seattle',
 'sake-nomi-seattle',
 'mod-pizza-seattle-7',
 'davids-and-co-seattle',
 'house-of-hong-restaurant-seattle',
 'sharetea-seattle-5',
 'crawfish-king-seattle-2',
 'caffè-umbria-seattle-3',
 'regatta-bar-and-grille-seattle',
 'city-soups-seattle-2',
 'el-borracho-seattle',
 'the-lodge-sports-grille-seattle',
 'the-peak-cafe-seattle',
 'shawn-o-donnells-american-grill-and-irish-pub-seattle-2',
 'rider-seattle',
 'seoul-bowl-seattle',
 'seattle-art-museum-seattle',
 'smith-tower-provisions-seattle-2',
 'atlantic-street-pizza-slices-seattle',
 'daawat-grill-seattle-2',
 'the-london-plane-seattle-3',
 'little-sheep-mongolian-hot-pot-seattle-2',
 'king-dome-deli-seattle',
 'dynasty-room-seattle-5',
 'hardwok-cafe-seattle',
 'a-hong-kong-kitchen-seattle',
 'thai-curry-simple-seattle-5',
 'tats-delicatessen-seattle',
 'y-and-a-cafe-seattle',
 'pho-hoa-noodle-soup-seattle-2',
 'pho-so-1-seattle',
 'altstadt-seattle-2',
 'hard-rock-cafe-seattle-6',
 'the-berliner-döner-kebab-seattle-3',
 'mados-seattle-2',
 'the-capital-grille-seattle',
 'jiaozi-dumplings-house-seattle-2',
 'pokéworks-seattle',
 'din-tai-fung-seattle-17',
 'andaluca-seattle-2',
 'poke-alice-seattle',
 'hamanasu-seattle',
 'silver-spork-food-truck-seattle',
 'japonessa-sushi-cocina-seattle',
 'little-neon-taco-seattle-3',
 'subway-seattle-37',
 'maneki-seattle',
 'sansei-seafood-restaurant-and-sushi-bar-seattle-3',
 'melange-market-seattle',
 'ironsteak-seattle',
 'pita-xpress-seattle-4',
 'julies-garden-seattle',
 'taste-of-the-caribbean-seattle-2',
 'wild-ginger-seattle',
 'nijo-sushi-bar-and-grill-seattle',
 'happy-garden-seattle-3',
 'apizza-seattle-3',
 'noi-thai-cuisine-seattle-3',
 'owln-thistle-irish-pub-seattle',
 'fonte-café-seattle',
 'piroshky-piroshky-seattle-8',
 'twice-burger-seattle-3',
 'lan-huê-sandwich-and-bakery-seattle',
 'gyro-express-seattle-2',
 'delinomore-seattle',
 'thai-ginger-pacific-place-seattle',
 'patagon-seattle-2',
 'cafe-nordstrom-seattle-5',
 'napkin-friends-seattle',
 'johnny-rockets-seattle',
 'ivars-acres-of-clams-seattle-7',
 'jimmy-johns-seattle-18',
 'dead-line-seattle',
 'grid-iron-grill-seattle',
 'core-bistro-seattle',
 'el-camión-seattle-6',
 'zócalo-seattle-4',
 'place-pigalle-seattle',
 'i-heart-sushi-seattle',
 'one-pot-seattle-3',
 'rview-seattle',
 'farvahar-persian-cafe-seattle',
 'jimmy-johns-seattle-12',
 'cafe-5ive-seattle',
 'duk-li-dim-sum-seattle',
 'bebas-deli-seattle-2',
 'the-frankfurter-seattle-2',
 'humble-pie-seattle',
 'outlier-seattle',
 'the-triple-door-seattle',
 'the-brooklyn-seafood-steak-and-oyster-house-seattle',
 'gopoké-seattle-5',
 'the-rhododendron-cafe-seattle',
 'blue-water-taco-grill-seattle-9',
 'honey-court-seafood-restaurant-seattle-2',
 'mediterranean-mix-seattle',
 'harborview-medical-center-cafeteria-seattle',
 'jelly-bar-seattle-2',
 'the-juicy-café-seattle-5',
 'seattle-bagel-bakery-seattle-5',
 'shuckers-oyster-bar-seattle',
 'piroshky-piroshky-seattle-5',
 'mariscos-mexico-seattle',
 'mad-pizza-seattle-4',
 'delicatus-seattle-2',
 'kidd-valley-seattle-6',
 'sugar-bakery-and-cafe-seattle-3',
 'flame-cafe-seattle',
 'kigo-kitchen-seattle-6',
 'sprigy-seattle-2',
 'evergreens-salad-seattle-15',
 'copacabana-cafe-seattle',
 'pinks-ice-cream-seattle',
 'yard-house-seattle',
 'café-paloma-seattle-2',
 'h-bistro-seattle-5',
 'potbelly-sandwich-shop-seattle-4',
 'evergreens-salad-seattle-4',
 'specialtys-café-and-bakery-seattle-32',
 'mccoys-firehouse-seattle',
 'cortina-seattle-3',
 'jimmy-johns-seattle-2',
 'seatown-seabar-seattle',
 'tai-tung-chinese-restaurant-seattle',
 'planet-java-diner-seattle-2',
 'swannies-seattle',
 'ludis-seattle',
 'red-bowls-seattle',
 'subway-seattle-64',
 'pioneer-grill-hot-dog-stands-seattle',
 'cafe-hitchcock-seattle-2',
 'sweet-iron-waffles-seattle-5',
 'alaskan-sourdough-bakery-seattle',
 'le-panier-french-bakery-seattle',
 'the-peoples-burger-seattle',
 'the-dinner-detective-interactive-murder-mystery-dinner-show-seattle',
 'hot-as-pho-seattle-2',
 'off-the-rez-seattle',
 'taco-del-mar-seattle-7',
 'blarney-stone-pub-and-restaurant-seattle',
 'taxi-dogs-seattle',
 'hans-deli-and-grocery-seattle',
 'j-and-m-cafe-seattle-3',
 'walla-walla-farms-seattle',
 'piroshky-piroshky-seattle',
 'homegrown-seattle-5',
 'primo-seattle',
 'huong-binh-seattle',
 'north-shore-hawaiian-barbeque-seattle',
 'ferry-noodle-house-seattle-3',
 'hilltop-deli-seattle',
 'seattle-aquarium-cafe-seattle',
 'evergreens-salad-seattle-2',
 'cherry-street-coffee-house-seattle-11',
 'blue-water-taco-grill-seattle-3',
 'manus-tacos-seattle',
 'jimmy-johns-seattle-11',
 'jimmy-johns-seattle-4',
 'sushi-kashiba-seattle',
 'samurai-noodle-seattle',
 'ettas-seattle-2',
 'gourmet-noodle-bowl-seattle',
 'voxx-coffee-downtown-seattle-2',
 'shilla-korean-bbq-seattle',
 'taste-of-asia-seattle-2',
 'mels-market-seattle',
 'kau-kau-barbeque-seattle',
 'kastoori-grill-seattle',
 'the-fig-and-the-judge-seattle-2',
 '13-coins-restaurant-seattle-3',
 'jarrbar-seattle',
 'elemental-pizza-seattle-3',
 'mr-ds-greek-delicacies-seattle',
 'great-state-burger-seattle-5',
 'shanghai-garden-seattle-4',
 'the-original-deli-seattle-4',
 'aburiya-bento-house-seattle-2',
 'delaurenti-food-and-wine-seattle-2',
 'thai-star-restaurant-seattle',
 'espresso-caffe-dior-seattle',
 't-js-deli-seattle',
 'nates-wings-and-waffles-seattle',
 'michou-seattle',
 'rolls-n-sushi-seattle',
 'market-fresh-rs-seattle-2',
 'walla-walla-farms-seattle-3',
 'thai-taste-restaurant-seattle',
 'old-stove-brewing-seattle-3',
 'sushi-kanpai-seattle',
 'urara-seattle-2',
 'world-fresh-asian-eatery-seattle',
 'le-pichet-seattle',
 'maxang-deli-and-cafe-seattle',
 'bookstore-bar-and-cafe-seattle-6',
 'spring-thyme-bakeshop-seattle',
 'tofully-seattle-2',
 'joelles-espresso-cafe-seattle-3',
 'honest-biscuits-seattle',
 'sushi-kudasai-seattle-2',
 'taco-del-mar-seattle-28',
 'muse-at-benaroya-hall-seattle',
 'grand-central-bakery-seattle-5',
 'king-noodle-seattle',
 'pike-brewing-company-seattle',
 'bacco-cafe-and-bistro-seattle-2',
 'post-alley-pizza-seattle',
 'brgr-bar-seattle-seattle',
 'damn-the-weather-seattle',
 'umai-sushi-and-teriyaki-seattle',
 'chicken-valley-seattle',
 'macrina-bakery-and-cafe-seattle-3',
 'the-diller-room-seattle',
 'chucks-hole-in-the-wall-bbq-seattle',
 'szechuan-noodle-bowl-seattle',
 'moore-coffee-shop-seattle',
 'ulis-famous-sausage-seattle',
 'the-crumpet-shop-seattle',
 'loving-hut-seattle',
 'fiesta-fiesta-seattle',
 'peloton-seattle',
 'eastern-cafe-seattle',
 'belle-epicurean-seattle-5',
 'happy-grillmore-seattle',
 'market-diner-seattle',
 'all-water-seafood-and-oyster-bar-seattle-2',
 'okinawa-teriyaki-seattle',
 'georgian-restaurant-seattle',
 'fog-room-seattle',
 'gyro-stop-mediterranean-grill-seattle',
 'taco-del-mar-seattle-42',
 'kells-irish-restaurant-and-pub-seattle',
 'jade-garden-seattle',
 'pike-grocery-seattle',
 'thai-2-go-seattle-3',
 'the-crab-pot-seattle-2',
 'café-frieda-seattle-3',
 'biscuit-bitch-seattle',
 'harbor-café-seattle-2',
 'vietnam-house-seattle',
 'henrys-tavern-seattle-seattle',
 'bernards-on-seneca-seattle',
 'luigis-italian-eatery-seattle-2',
 'bibimbap-seattle',
 'bibimbap-king-seattle',
 'mae-phim-thai-seattle-3',
 'dim-sum-king-seattle',
 'dog-in-the-park-seattle',
 'world-fresh-eatery-seattle',
 'elliotts-oyster-house-seattle-2',
 'georges-sausage-and-delicatessen-seattle',
 'secret-sausage-seattle',
 'hawks-nest-seattle',
 'maximilien-seattle',
 'great-state-burger-seattle-3',
 'soups-du-jour-seattle',
 'deez-dogz-seattle',
 'cutters-crabhouse-seattle',
 'sun-bakery-and-cafe-seattle',
 'commissary-korean-kitchen-seattle',
 'seven-stars-pepper-szechuan-restaurant-seattle',
 '4th-avenue-caffe-seattle-2',
 'a-pizza-mart-seattle-14',
 'smith-tower-observatory-bar-seattle-2',
 'good-bar-seattle-3',
 'sprout-seattle',
 'zig-zag-cafe-seattle-2',
 'cherry-street-coffee-house-seattle',
 'pizza-pro-seattle',
 'pikes-pit-bar-b-que-seattle',
 'sonyas-bar-and-grill-and-event-space-seattle',
 'cedars-restaurant-capitol-hill-seattle',
 'sarduccis-specialty-subs-seattle',
 'cantina-de-san-patricio-seattle',
 'kigo-kitchen-seattle-2',
 'zeitgeist-coffee-seattle',
 'blue-water-taco-grill-seattle-2',
 'lecōsho-seattle-2',
 'pho-saigon-seattle-2',
 'thai-place-seattle',
 'tamarind-tree-seattle',
 'italian-family-pizza-seattle',
 'king-street-bar-and-oven-seattle',
 'intermezzo-carmine-seattle-2',
 'tulio-seattle',
 'fado-irish-pub-seattle-3',
 '206-burger-company-seattle',
 '663-bistro-seattle',
 'cheese-meats-bread-seattle-2',
 'scout-seattle',
 'trace-seattle',
 'specialtys-café-and-bakery-seattle-31',
 'happy-teriyaki-seattle-2',
 'turkish-delight-seattle',
 'copal-seattle',
 'pings-food-market-seattle',
 'marion-court-food-court-seattle',
 'green-leaf-vietnamese-restaurant-seattle',
 'cafe-pho-seattle',
 'girin-korean-ssam-bar-seattle',
 'moore-coffee-seattle-2',
 'tenoch-mexican-grill-seattle',
 'saigon-bistro-seattle-2',
 'marination-mobile-seattle-5',
 'quality-athletics-seattle',
 'lowells-restaurant-seattle',
 'palomino-seattle',
 'specialtys-café-and-bakery-seattle-34',
 'genghis-khan-restaurant-seattle',
 'third-ave-cafe-seattle',
 'veggie-grill-seattle-6',
 'falafel-king-seattle',
 'pane-pane-sandwiches-seattle',
 'piroshki-on-madison-seattle',
 'triangle-pub-seattle',
 'hooverville-bar-seattle',
 'cone-and-steiner-seattle-5',
 'soups-on-seattle-2',
 'blazing-bagels-seattle-2',
 'campfire-bbq-seattle-7',
 'juno-seattle',
 'piroshki-on-3rd-seattle-2',
 'i5-pho-seattle-seattle-2',
 'fresh-table-cafe-seattle-4',
 'potbelly-sandwich-shop-seattle-3',
 'canton-wonton-house-seattle',
 'union-square-seattle',
 'olivers-lounge-seattle',
 'where-ya-at-matt-seattle',
 'the-515-seattle-3',
 'il-corvo-pasta-seattle',
 'nordstrom-grill-seattle-2',
 'sushi-kudasai-seattle-3',
 'congeez-seattle',
 'pho-ba-seattle-4',
 'habitant-seattle-3',
 'red-lantern-seattle',
 'new-star-seafood-restaurant-seattle',
 'shaker-and-spear-seattle-2',
 'saffron-spice-seattle',
 'bao-house-seattle-5',
 'basil-box-seattle',
 'the-natural-seattle',
 'jack-in-the-box-seattle-5',
 'ba-bar-seattle',
 'pacific-cafe-hong-kong-kitchen-seattle-2',
 'la-creperie-by-ethan-stowell-seattle-3',
 'west-edge-market-seattle',
 'j-sushi-seattle',
 'convoy-coffee-seattle',
 'wild-tiger-pizza-seattle-3',
 'columbia-center-food-court-seattle',
 '2nd-ave-gifts-and-sundries-seattle',
 'grilled-cheese-experience-seattle',
 'tap-house-grill-seattle-3',
 'nirmals-seattle',
 'song-phang-kong-seattle',
 'cafe-yumm-seattle-2',
 'yoshino-teriyaki-seattle',
 'seattle-deli-seattle',
 'sluggers-seattle-seattle',
 'jasmine-thai-cuisine-seattle',
 'itty-bitty-schnitty-seattle',
 'king-deli-and-espresso-seattle',
 'james-moore-bar-and-kitchen-seattle',
 'the-fishermans-restaurant-seattle',
 'dunbar-room-seattle',
 'box-house-seattle-3',
 'jacks-fish-spot-seattle',
 'subway-seattle-6',
 'cherry-street-coffee-house-seattle-10',
 'green-tree-food-truck-seattle',
 'kigo-kitchen-seattle-3',
 'new-saigon-vietnamese-restaurant-ii-seattle',
 'sichuanese-cuisine-seattle',
 'il-fornaio-seattle',
 'justus-cafe-seattle',
 'the-hart-and-the-hunter-seattle-2',
 'joes-grilled-gourmet-dogs-seattle',
 'doc-maynards-public-house-seattle',
 'metropolitan-grill-seattle',
 'banh-cuon-tan-dinh-deli-seattle',
 'gordon-biersch-brewery-restaurant-seattle',
 'taqueria-el-ranchero-seattle',
 'saigon-deli-seattle',
 'mercato-stellina-seattle-2',
 'crepe-de-france-seattle',
 'madhu-cuisine-of-india-seattle-4',
 'aloha-plates-seattle',
 'elysian-fields-seattle',
 'tossd-seattle',
 'way-back-crab-shack-seattle',
 'market-grill-seattle',
 'saba-ethiopian-cuisine-seattle',
 'marvs-famous-hot-dogs-seattle',
 'vitos-seattle',
 'nyc-deli-market-seattle-2',
 'deli-cut-subs-seattle',
 'jimmys-on-first-seattle',
 'mcdonalds-seattle-27',
 'sushi-kudasai-seattle',
 'bowls-and-noodles-seattle',
 'collins-pub-seattle',
 'slice-box-pizza-seattle',
 'ummas-lunch-box-seattle',
 'sisters-european-snacks-seattle',
 'fort-st-george-seattle',
 'rub-with-love-shack-seattle',
 'il-bistro-seattle',
 'casco-antiguo-seattle',
 'main-street-gyros-seattle-2',
 'boiling-point-seattle',
 'din-tai-fung-seattle-14',
 'long-provincial-vietnamese-seattle',
 'szechuan-fish-seattle',
 'henrys-taiwan-plus-seattle',
 'naansense-seattle',
 'purple-dot-cafe-seattle-2',
 'ten-sushi-35-seattle-2',
 'cafe-zum-zum-seattle',
 'redtrees-restaurant-bar-seattle',
 'pike-place-chowder-seattle',
 'potbelly-sandwich-shop-seattle-8',
 'wild-rye-cafe-bakery-seattle',
 'fuji-sushi-seattle',
 'the-cheesecake-factory-seattle',
 'biscuit-bitch-seattle-5',
 'cinnamon-works-seattle',
 'joy-bento-seattle',
 'ziti-italiano-pizza-seattle',
 'qdoba-mexican-eats-seattle-7',
 'the-athenian-seafood-restaurant-and-bar-seattle-2',
 'chip-and-drews-seattle',
 'elephant-and-castle-seattle',
 'ton-kiang-barbeque-noodle-house-seattle',
 'vovito-seattle',
 'grounders-world-famous-garlic-fries-seattle',
 'tankard-and-tun-seattle-2',
 'kings-barbeque-house-seattle-2',
 'manus-bodega-seattle',
 'fuel-seattle-2',
 'dragonfish-asian-cafe-seattle',
 'pizza-and-pasta-bar-seattle-2',
 'pike-place-chinese-cuisine-seattle',
 'metropolitan-deli-and-cafe-seattle-5',
 'kebab-seattle-2',
 'sound-soups-seattle',
 'dong-thap-noodles-seattle',
 'joyale-seafood-restaurant-seattle-2',
 'paseo-caribbean-food-seattle-8',
 'top-pot-doughnuts-seattle-7',
 'incredibowls-seattle-2',
 'musashis-seattle-3']

## Make some functions that do all this, import it, try it out

In [467]:
from ALS import ALSRecommender

In [468]:
nicole = survey_results[1]

In [469]:
a_recommender = ALSRecommender(uf_df, if_df, inv_alias_dict)

In [473]:
nicole_preds = a_recommender.get_preds_from_survey_results(nicole)

In [474]:
nicole_preds

,biscuit-bitch-seattle-5,pikes-pit-bar-b-que-seattle,apizza-seattle-3,cherry-street-coffee-house-seattle-10,amazon-go-seattle-5,james-moore-bar-and-kitchen-seattle,dong-thap-noodles-seattle,umai-sushi-and-teriyaki-seattle,ettas-seattle-2,il-corvo-pasta-seattle,...,luigis-italian-eatery-seattle-2,saffron-spice-seattle,frolik-kitchen-cocktails-seattle-2,oriental-mart-seattle-5,steelhead-diner-seattle,taco-del-mar-seattle-28,i-heart-sushi-seattle,harbor-city-restaurant-seattle,grand-central-bakery-seattle-5,lowells-restaurant-seattle
newuser,32.938301,27.687891,26.281604,25.670297,24.354026,24.007295,23.248938,21.198956,20.854826,20.451822,...,-18.927373,-19.163136,-20.150024,-20.265583,-20.748611,-20.748702,-21.949447,-22.683841,-34.95333,-40.567627

In [459]:
jonny = survey_results[3]

In [477]:
jonny_preds = a_recommender.get_preds_from_survey_results(jonny)
jonny_preds

,biscuit-bitch-seattle-5,pikes-pit-bar-b-que-seattle,amazon-go-seattle-5,apizza-seattle-3,cherry-street-coffee-house-seattle-10,james-moore-bar-and-kitchen-seattle,ettas-seattle-2,umai-sushi-and-teriyaki-seattle,zobel-seattle,dong-thap-noodles-seattle,...,ten-sushi-35-seattle-2,dunbar-room-seattle,saffron-spice-seattle,luigis-italian-eatery-seattle-2,pizza-and-pasta-bar-seattle-2,taco-del-mar-seattle-28,harbor-city-restaurant-seattle,i-heart-sushi-seattle,grand-central-bakery-seattle-5,lowells-restaurant-seattle
newuser,16.47292,16.136041,15.737525,15.671637,13.905126,13.497469,12.913731,12.68666,12.259833,12.140751,...,-7.04447,-7.780404,-7.874688,-7.916165,-8.636512,-8.677275,-8.728556,-9.076988,-14.971746,-17.726767

In [476]:
jonny_preds

,biscuit-bitch-seattle-5,pikes-pit-bar-b-que-seattle,amazon-go-seattle-5,apizza-seattle-3,cherry-street-coffee-house-seattle-10,james-moore-bar-and-kitchen-seattle,ettas-seattle-2,umai-sushi-and-teriyaki-seattle,zobel-seattle,dong-thap-noodles-seattle,...,ten-sushi-35-seattle-2,dunbar-room-seattle,saffron-spice-seattle,luigis-italian-eatery-seattle-2,pizza-and-pasta-bar-seattle-2,taco-del-mar-seattle-28,harbor-city-restaurant-seattle,i-heart-sushi-seattle,grand-central-bakery-seattle-5,lowells-restaurant-seattle
newuser,16.47292,16.136041,15.737525,15.671637,13.905126,13.497469,12.913731,12.68666,12.259833,12.140751,...,-7.04447,-7.780404,-7.874688,-7.916165,-8.636512,-8.677275,-8.728556,-9.076988,-14.971746,-17.726767

In [462]:
alex = survey_results[2]

In [463]:
alex_preds = a_recommender.get_preds_from_survey_results(alex, inv_alias_dict)
alex_preds

,lowells-restaurant-seattle,grand-central-bakery-seattle-5,harbor-city-restaurant-seattle,steelhead-diner-seattle,i-heart-sushi-seattle,taco-del-mar-seattle-28,oriental-mart-seattle-5,frolik-kitchen-cocktails-seattle-2,herbs-thai-to-go-seattle,the-taproom-at-pike-place-seattle,...,aloha-plates-seattle,rub-with-love-shack-seattle,amazon-go-seattle-5,apizza-seattle-3,james-moore-bar-and-kitchen-seattle,cherry-street-coffee-house-seattle-10,pikes-pit-bar-b-que-seattle,dong-thap-noodles-seattle,incredibowls-seattle-2,biscuit-bitch-seattle-5
newuser,67.018514,59.691544,43.130078,42.942915,41.517643,40.120691,39.55299,39.148831,38.275578,37.847721,...,-21.890633,-22.795156,-24.43904,-26.018849,-26.896368,-27.929653,-30.499478,-30.751683,-30.800841,-40.651205

In [496]:
all_users = pd.DataFrame(index=range(len(survey_results)), columns=inv_alias_dict.values())
all_users

,amazon-go-seattle-5,the-pink-door-seattle-4,nirmals-seattle,biscuit-bitch-seattle-5,damn-the-weather-seattle,bad-bishop-seattle,pike-place-chowder-seattle,tsukushinbo-seattle,taylor-shellfish-oyster-bar-seattle-2,elliotts-oyster-house-seattle-2,...,mediterranean-cuisine-seattle,ricenroll-seattle-2,union-deli-la-puget-sound-plaza-building-seattle,measure-seattle,subway-seattle-3,u-bank-cafe-seattle,subway-seattle-31,subway-seattle-66,organic-to-go-seattle-4,chez-dave-seattle-2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [505]:
a = ALSRecommender(uf_df, if_df, inv_alias_dict)
#all_users = pd.DataFrame(index=range(len(survey_results)), columns=inv_alias_dict.values())

for survey in survey_results:
    results = a.get_preds_from_survey_results(survey)
results

,lowells-restaurant-seattle,grand-central-bakery-seattle-5,harbor-city-restaurant-seattle,steelhead-diner-seattle,taco-del-mar-seattle-28,i-heart-sushi-seattle,herbs-thai-to-go-seattle,market-cafe-seattle-3,pizza-and-pasta-bar-seattle-2,oriental-mart-seattle-5,...,little-italy-seattle-seattle,rub-with-love-shack-seattle,ettas-seattle-2,james-moore-bar-and-kitchen-seattle,cherry-street-coffee-house-seattle-10,dong-thap-noodles-seattle,apizza-seattle-3,amazon-go-seattle-5,pikes-pit-bar-b-que-seattle,biscuit-bitch-seattle-5
newuser,163.471328,154.734591,97.601715,95.474006,92.668808,90.394956,89.606701,87.416394,85.800498,83.087646,...,-65.404657,-67.408084,-69.774038,-72.914338,-79.815284,-84.853743,-88.394769,-89.658892,-96.692292,-108.992908

#### bring in the alias_dict to translate rest aliases to ids

In [226]:
more_than_one_review = pd.read_pickle('more_than_one_review_df.pkl')

In [227]:
aliases = more_than_one_review['alias'].unique()
alias_ids = zip(aliases, range(len(aliases)))
alias_dict = dict(alias_ids)

In [333]:
with open("alias_dict.txt", "wb") as myFile:
    pickle.dump(alias_dict, myFile)

In [257]:
gabe_df = pd.DataFrame(columns=alias_dict.keys(), index=usernames)

In [258]:
gabe_df

,amazon-go-seattle-5,the-pink-door-seattle-4,nirmals-seattle,biscuit-bitch-seattle-5,damn-the-weather-seattle,bad-bishop-seattle,pike-place-chowder-seattle,tsukushinbo-seattle,taylor-shellfish-oyster-bar-seattle-2,elliotts-oyster-house-seattle-2,...,mediterranean-cuisine-seattle,ricenroll-seattle-2,union-deli-la-puget-sound-plaza-building-seattle,measure-seattle,subway-seattle-3,u-bank-cafe-seattle,subway-seattle-31,subway-seattle-66,organic-to-go-seattle-4,chez-dave-seattle-2
gabe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nicole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jonny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
grant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [259]:
def create_user_df(survey, df):
    for key, value in survey.items():
        df.iloc[0][key] = survey[key]
    return df

In [261]:
gabe = create_user_df(gabe, gabe_df).loc['gabe']